.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/sols-1.jpg"} 
  .item-info 
    %h1
      SOLS
    %p.list
      Branding
      %br 
      %a{:href => "/solssite"}
        Website Design
    .dash
    %h2 
      %a{:href => "http://vanessa-lianne-jewelry.myshopify.com", :target => "_blank"} www.vanessalianne.com