.about
  .container
    .row
      .col-sm-12
        %img.name{:src => "/images/name.png"}
        %p
          I'm a designer, art director, and illustrator, based in Brooklyn, New York. I make products & brands look, feel, and function better through uncluttered, balanced design. I'm also passionate about making clothing and taking photos. (I'm formally trained in fashion design)
        %br
        %br
        %p
          Exploring and expanding my variety of creative interests is what gets me out of bed in the morning. 

          %a{:href => "http://alexa-wright.tumblr.com", :target => "_blank"} 
            Visit my blog 
          for smaller projects, photos & doodles, say hello on 
          %a{:href => "http://www.twitter.com/eatthesalt", :target => "_blank"} 
            Twitter
          , or 
          = haml :email