#about.info
  / .row.feature-image
  /   .col-sm-12
  .about-blurb
    .container
      .row
        .col-sm-12
          %h6 Hi, I'm Alexa.
          %p
            I'm a designer based in Brooklyn, New York. I make products look, feel, and function better through visual branding, web design & development, or by needle and thread. Regardless of what I'm making, I focus on usability, balance, and minimalism. 
          %br
          %br
          %p 
            Have a meaningful project you'd like me to work on?
            = haml :email

      .row
        .col-sm-12
          %ul.social-icons
            %li
              %a.icon-mail{:href => "mailto:alexalwright@gmail.com", :target => "_blank"}
            %li
              %a.icon-tumblr{:href => "http://alexa-wright.tumblr.com", :target => "_blank"}
            %li
              %a.icon-github{:href => "http://www.github.com/alexawright", :target => "_blank"}
            %li
              %a.icon-dribbble{:href => "http://dribbble.com/alexawright", :target => "_blank"}
            %li
              %a.icon-linkedin{:href => "http://www.linkedin.com/pub/alexa-wright/31/706/b9b", :target => "_blank"}