.container
  .row.about
    .col-sm-12
      %img.name{:src => "/images/name.png"}
      %p
        I'm a designer, art director, and illustrator, based in Brooklyn, New York. I make products & brands look, feel, and function better through uncluttered, balanced design. I'm also passionate about photography and clothing design. Exploring and expanding my many creative interests is what gets me out of bed in the morning.
      %p
        Interested in working together? Get in touch.

    .row
      .ul.social
        %li
          %a{:href => "/", :target => "_blank"} 
            %span.fa.fa-envelope
        %li
          %a{:href => "http://brainfood.alexa-wright.com", :target => "_blank"} 
            %span.fa.fa-tumblr 
        %li
          %a{:href => "http://www.twitter.com/alexa_wright_", :target => "_blank"} 
            %span.fa.fa-twitter 
        %li
          %a{:href => "http://www.instagram.com/alexa_wright", :target => "_blank"} 
            %span.fa.fa-instagram 
        %li
          %a{:href => "http://www.pinterest.com/alexa_wright_/pins/", :target => "_blank"} 
            %span.fa.fa-pinterest
    .row
      .col-sm-12
        %img.studio.img-responsive{:src => "/images/studio6.jpg"}
    .row
      .col-sm-12
        .footer
          %p © 2015 Alexa Wright, Inc.