#about.info
  .about-blurb
    .container
      .row
        .col-sm-12
          %img.name{:src => "/images/name.png"}
          %p
            I'm a designer, art director, and illustrator based in Brooklyn, New York. I make products look, feel, and function better through visual branding, web design & development, or by needle and thread. 
            %a{:href => "http://alexa-wright.tumblr.com", :target => "_blank"} 
              Visit my blog 
            for smaller projects, photos, and doodles, say hello on 
            %a{:href => "http://www.twitter.com/alexawright_", :target => "_blank"} 
              Twitter,
            or 
            = haml :email