#about.info
  .about-blurb
    .container
      .row
        .col-sm-12
          %img.name{:src => "/images/name.png"}
          %p
            I'm a designer, art director, and illustrator. I make products look and feel better through branding, web design & development, or by needle & thread. 
            %a{:href => "http://alexa-wright.tumblr.com", :target => "_blank"} 
              Visit my blog 
            for smaller projects & doodles, say hello on 
            %a{:href => "http://www.twitter.com/eatthesalt", :target => "_blank"} 
              Twitter,
            or 
            = haml :email