.full-width-block
  .row.bg.allpaws
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/allpaws/allpaws-7.jpg"} 

.container.project-body
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/allpaws/allpaws-8.jpg"} 
      
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/allpaws/allpaws-1.jpg"}
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/allpaws/allpaws-10.jpg"}
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/allpaws/allpaws-3.jpg"}
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/allpaws/allpaws-11.jpg"}
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/allpaws/allpaws-9.jpg"}
  
  .info 
    %h1
      AllPaws
    %p
      AllPaws takes a clean, fresh, modern approach to pet adoption, combining sophisticated online dating functionality, engaging pet content & deep social integration. 

    %ul.tags
      %li Digital Product Design
      %li Responsive Design
    .dash
    %h2 
      %a{:href => "http://www.allpaws.com", :target => "_blank"} www.allpaws.com