.container
  .item
    .row

      .col-md-12   
        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/cubedeco-2.jpg"} 
      .col-md-12   
        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/cubedeco.jpg"} 
        .dash2 

      .col-md-12
        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/azteco-2.jpg"} 
        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/azteco.jpg"}  

        .dash2

        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/chevron.jpg"} 
        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/steps.jpg"} 
        
        .dash2

      %img.load-img.img-responsive.space.shadow{:src => "/images/awright/paint.jpg"} 

        .dash2 

      .col-md-12   
        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/gluten.jpg"} 

        .dash2

      .col-md-12
        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/lamle.jpg"} 
        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/alexa.jpg"} 
        %img.load-img.img-responsive.space.shadow{:src => "/images/awright/amiko.jpg"} 