.item
  .row
    .col-md-12   
      %img.load-img.img-responsive.space{:src => "/images/azteco/azteco.jpg"} 
  .item-info 

    %p.list
      Pattern Design


  .pagination
    %a.previous{:href => "/chloeisabel"}
      %h3 ← Previous 
    %a.next{:href => "/infiniteloop"}
      %h3 Next →
