.item
  .row
    .col-md-12   
      %img.img-responsive.extra-space.no-border{:src => "/images/azteco.jpg"} 
  .item-info 

    %p.list
      Pattern Design


  .pagination
    %a.previous{:href => "/monkeybadger"}
      %h3 ← Previous 
    %a.next{:href => "/misterux"}
      %h3 Next →