.full-width-block
  .row.bg.bitcoin
    .col-md-12    
      %img.img-responsive.no-border.load-img{:src => "/images/bitcoin/bitcoin-logo.png"}

.container.project-body
  .row
    .col-md-12
      %img.img-responsive.no-border.load-img.space{:src => "/images/bitcoin/bitcoinhero3.jpg"}
  .row
    .col-md-12
      %img.img-responsive.no-border.load-img.space{:src => "/images/bitcoin/bitcoinhero4.jpg"} 

  .info 
    %h1
      Bitcoin
    %p
      %a{:href => "http://www.handsomecode.com", :target => "_blank"} Handsome Code
      built the new Bitcoin homepage and needed a custom illustration that would visualize the abstract concept of the currency. Ryan Rogalski of
      %a{:href => "http://www.infiniteloopco.com", :target => "_blank"} Infinite Loop Co.
      brought my illustration to life through animation. Check out the homepage to see it in action.
    %ul.tags
      %li Illustration
    %h2 
      %a{:href => "http://www.bitcoin.com", :target => "_blank"} www.bitcoin.com


.pagination
  .inner
    %a{:href => "/allpaws"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/nikon"} 
      .next
        %span.fa.fa-angle-left 

= haml :work

