.row.awrightsize
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/chevron.jpg"} 
.row.awrightsize
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/steps.jpg"} 