.item 
  .row 
    .col-md-6.col-sm-6
      %img.img-responsive.no-border{:src => "/images/mixvest/blkleathervest-f.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive.no-border{:src => "/images/mixvest/blkleathervest-b.jpg"}  

  .row
    .col-md-4.col-sm-4
      %img.img-responsive{:src => "/images/mixvest/blkvest-d3.jpg"} 
    .col-md-4.col-sm-4
      %img.img-responsive{:src => "/images/mixvest/blkvest-d2.jpg"} 
    .col-md-4.col-sm-4  
      %img.img-responsive{:src => "/images/mixvest/blkvest-d1.jpg"}
  .info 
    %h1
      Mixed Leather Vest
    %p
      Mixed black leather vest with built up collar & coated cotton hand-whip-stitching detail around armholes & body. Created by hand-sculpting leather remnants.
