.item 
  .row 
    .col-md-6.col-sm-6
      %img.img-responsive.no-border{:src => "/images/blackskirt/blkskirt-1.jpg"}
    .col-md-6.col-sm-6 
      %img.img-responsive.no-border{:src => "/images/blackskirt/blkskirt-2.jpg"} 

  .row 
    .col-md-6.col-sm-6
      %img.img-responsive.shadow{:src => "/images/blackskirt/blkskirt-d1.jpg"}
    .col-md-6.col-sm-6
      %img.img-responsive.shadow{:src => "/images/blackskirt/blkskirt-d2.jpg"} 

  .info 
    %h1
      Leather Pocket Skirt
    %p
      Mixed black leather with flat seams & raw edge pocket flap detail.