.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/boucher/boucher-1.jpg"} 
      %img.img-responsive{:src => "/images/boucher/boucher-2.jpg"} 
      %img.img-responsive{:src => "/images/boucher/boucher-3.jpg"} 
      %img.img-responsive{:src => "/images/boucher/boucher-4.jpg"} 
      %img.img-responsive{:src => "/images/boucher/boucher-5.jpg"} 
      %img.img-responsive{:src => "/images/boucher/boucher-6.jpg"} 
      %img.img-responsive{:src => "/images/boucher/boucher-7.jpg"}  
  .info 
    %h1
      Boucher
    %p
      Fall II Collection