.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/boucher-1.jpg"} 
      %img.img-responsive{:src => "/images/boucher-2.jpg"} 
      %img.img-responsive{:src => "/images/boucher-3.jpg"} 
      %img.img-responsive{:src => "/images/boucher-4.jpg"} 
      %img.img-responsive{:src => "/images/boucher-5.jpg"} 
      %img.img-responsive{:src => "/images/boucher-6.jpg"} 
      %img.img-responsive{:src => "/images/boucher-7.jpg"}  
  .item-info 
    %h1
      Boucher
    %p
      Fall II Collection

.pagination
  %a.previous{:href => "/cfda"}
    %h3 ← Previous 
  %a.next{:href => "/wetlook"}
    %h3 Next →