.row.awrightsize
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/sweater/alexa-wright-cardigan-2.jpg"}
.row.awrightsize
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/sweater/alexa-wright-cardigan-1.jpg"} 
.row.awrightsize
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/sweater/alexa-wright-cardigan-5.jpg"}  
.row.awrightsize
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/sweater/alexa-wright-cardigan-4.jpg"} 
.row.awrightsize
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/sweater/alexa-wright-cardigan-3.jpg"} 