.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/cfda-01.jpg"} 
      %img.img-responsive{:src => "/images/cfda-02.jpg"} 
  .row
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/cfda-03.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/cfda-04.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/cfda-05.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/cfda-06.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/cfda-07.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/cfda-08.jpg"}
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/cfda-09.jpg"}
    .col-md-6.col-sm-6 
      %img.img-responsive{:src => "/images/cfda-10.jpg"}
    .col-md-6.col-sm-6 
      %img.img-responsive{:src => "/images/cfda-11.jpg"}
    .col-md-6.col-sm-6 
      %img.img-responsive{:src => "/images/cfda-12.jpg"} 
  .item-info 
    %h1
      Dress Code
    %p
      Fall I Collection


.pagination
  %a.previous{:href => "/frankie"}
    %h3 ← Previous 
  %a.next{:href => "/boucher"}
    %h3 Next →