.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/dresscode/cfda-01.jpg"} 
      %img.img-responsive{:src => "/images/dresscode/cfda-02.jpg"} 
  .row
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/dresscode/cfda-03.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/dresscode/cfda-04.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/dresscode/cfda-05.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/dresscode/cfda-06.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/dresscode/cfda-07.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/dresscode/cfda-08.jpg"}
    .col-md-6.col-sm-6
      %img.img-responsive{:src => "/images/dresscode/cfda-09.jpg"}
    .col-md-6.col-sm-6 
      %img.img-responsive{:src => "/images/dresscode/cfda-10.jpg"}
    .col-md-6.col-sm-6 
      %img.img-responsive{:src => "/images/dresscode/cfda-11.jpg"}
    .col-md-6.col-sm-6 
      %img.img-responsive{:src => "/images/dresscode/cfda-12.jpg"} 
  .info 
    %h1
      Dress Code
    %p
      Fall I Collection