.item  
  .row
    .col-md-12  
      %img.load-img.img-responsive.space{:src => "/images/chloe/chloe-logo-full.jpg"}
  .row.video-frame
    .col-md-12  
      %iframe.video{:allowfullscreen => "", :frameborder => "0", :height => "483", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/78756378?byline=0&amp;portrait=0&amp;autoplay=1", :webkitallowfullscreen => "", :width => "650"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.space{:src => "/images/chloe/chloe-1.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/chloe/chloe-2.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/chloe/chloe-3.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/chloe/chloe-4.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/chloe/chloe-6.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/chloe/chloe-5.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/chloe/chloe-7.jpg"}
  .item-info 
    %h1
      Chloe + Isabel
    %p.list
      Visual Design 
    .dash
    %h2 
      %a{:href => "http://www.chloeandisabel.com/", :target => "_blank"}www.chloeandisabel.com

.pagination
  %a.previous{:href => "/vestorly"}
    %h3 ← Previous 
  %a.next{:href => "/azteco"}
    %h3 Next →