.item  
  .row
    .col-md-12  
      %img.img-responsive.extra-space.no-border{:src => "/images/chloe-logo-full.jpg"}
  .row.video-frame
    .col-md-12  
      %iframe.video{:allowfullscreen => "", :frameborder => "0", :height => "483", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/78756378?byline=0&amp;portrait=0&amp;autoplay=1", :webkitallowfullscreen => "", :width => "650"}
  .row
    .col-md-12  
      %img.img-responsive.extra-space.no-border{:src => "/images/chloe-1.jpg"}
      %img.img-responsive.extra-space.no-border{:src => "/images/chloe-2.jpg"}
      %img.img-responsive.extra-space.no-border{:src => "/images/chloe-3.jpg"}
      %img.img-responsive.extra-space.no-border{:src => "/images/chloe-4.jpg"}
      %img.img-responsive.extra-space.no-border{:src => "/images/chloe-6.jpg"}
      %img.img-responsive.extra-space.no-border{:src => "/images/chloe-5.jpg"}
      %img.img-responsive.extra-space.no-border{:src => "/images/chloe-7.jpg"}
  .item-info 
    %h1
      Chloe + Isabel
    %p.list
      Web Design 
    .dash
    %h2 
      %a{:href => "http://www.chloeandisabel.com/", :target => "_blank"}www.chloeandisabel.com

.pagination
  %a.previous{:href => "/sols"}
    %h3 ← Previous 
  %a.next{:href => "/type"}
    %h3 Next →