.full-width-block  
  .row
    .col-md-12  
      %img.load-img.img-responsive{:src => "/images/chloe/chloe-logo-full.jpg"}

.container.project-body
  .row.video-frame
    .col-md-12  
      %iframe.video{:allowfullscreen => "", :frameborder => "0", :height => "483", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/78756378?byline=0&amp;portrait=0&amp;autoplay=1", :webkitallowfullscreen => "", :width => "650"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow.border{:src => "/images/chloe/chloe-1.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow.border{:src => "/images/chloe/chloe-2.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow.border{:src => "/images/chloe/chloe-3.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow.border{:src => "/images/chloe/chloe-4.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow.border{:src => "/images/chloe/chloe-6.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow.border{:src => "/images/chloe/chloe-5.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow.border{:src => "/images/chloe/chloe-7.jpg"}

  .info 
    %h1
      Chloe + Isabel
    %ul.tags
      %li Visual Design 
    %h2 
      %a{:href => "http://www.chloeandisabel.com/", :target => "_blank"}www.chloeandisabel.com

  
.pagination
  .inner
    %a{:href => "/infiniteloop"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/wang"} 
      .next
        %span.fa.fa-angle-left 

= haml :work

