.container
  .row.foot
    .col-sm-12
      %h1 Available for select projects & collaborations.
      %p VISUAL DESIGN, CREATIVE DIRECTION, DIGITAL PRODUCT DESIGN, VISUAL IDENTITY/BRANDING, PHOTOGRAPHY, FASHION DESIGN, FINE ART, ILLUSTRATION, WEB DEVELOPMENT, AND NEW CHALLENGES
      / %ul.skills
      /   %li Visual Design
      /   %li Creative Direction
      /   %li Digital Product Design
      /   %li Visual Identity + Branding
      /   %li UI/UX
      /   %li Photography
      /   %li Fashion Design
      /   %li Art
      /   %li Illustration
      /   %li Web Development
      /   %li New Challenges
      .btn-group
        %a.btn.contact1{:href => "/about"} Learn about me
        %span or 
        = haml :email2 