.container
  .row.foot
    .col-sm-12
      %h1 Currently available for projects.
      %p For Art Direction, UI & Product Design, Visual Identity, Logo Design,
      %p Illustration, Photography, Fashion Design, Surface & Print,
      %p and new challenges
      .btn-group
        %a.btn.contact1{:href => "/about"} Learn about me
        %span or 
        %a.btn.contact2{:href => "#"} Get in touch