.container
  .col-sm-12
    .foot
      %h1 Currently available for projects.
      %p For Art Direction, UI & Product Design, Visual Identity, Logo Design,
      %p Illustration, Photography, Fashion Design, Surface & Print,
      %p and new challenges
      %a.btn{:href => "#"} Get in touch