.container
  .row.foot
    .col-sm-12
      %h1 Currently available for select projects & collaborations.
      %p For Visual Design, Creative Direction, Digital Product Design, Visual Identity, 
      %p Photography, Fashion Design, Fine Art, Illustration,
      %p Web Development, and new challenges
      .btn-group
        %a.btn.contact1{:href => "/about"} Learn about me
        %span or 
        = haml :email2 