.full-width-block
  .row
    .col-md-12.bg.cosine  
      %img.load-img.img-responsive{:src => "/images/tcg/tcg-1.png"}
  .row
    .col-md-6.bg.cosine3
      %img.load-img.img-responsive{:src => "/images/tcg/tcg-3.png"}
    .col-md-6.bg.cosine4
      %img.load-img.img-responsive{:src => "/images/tcg/tcg-4.png"}
  .row
    .col-md-12.bg.cosine2
      %img.load-img.img-responsive{:src => "/images/tcg/tcg-2.png"}

.container.project-body
  .info
    %h1 The Cosine Group
    %p
      The Cosine Group is a disruptive, innovative technology company, always a phase ahead of their competition. Outlined curves show The Cosine Group emerging forward into the light, while solid shapes represent the competition, left behind in shadows. Multiple cosine curves adds dimension and interest, while illustrating an actual grouping of cosine curves.
    %p
      Three-dimensional cosine curves reflect a mathematical, expert touch. Mininal, sans-serif typefaces evoke authority and strength. This boldness is balanced by the feminine cosine curves.