.row
  .col-md-12   
    %img.load-img.img-responsive.space{:src => "/images/awright/cubedeco-2.jpg"} 
.row
  .col-md-12   
    %img.load-img.img-responsive.space{:src => "/images/awright/cubedeco.jpg"} 
