.item
  .row
    .col-md-12    
      %img.load-img.img-responsive.no-border{:src => "/images/dotbk/bk-logo.jpg"} 
      %img.load-img.img-responsive.no-border{:src => "/images/dotbk/bk-logo2.jpg"} 
      %img.load-img.img-responsive.no-border.extra-space{:src => "/images/dotbk/dotbk-hangtag.jpg"} 
      %img.load-img.img-responsive.no-border{:src => "/images/dotbk/bk-scissortm.jpg"}
      %img.load-img.img-responsive.no-border{:src => "/images/dotbk/bk-scissorpattern.jpg"} 

  .item-info 
    %h1
      dotBK
    %p 
      The dotBK scissor trademark reflects dotBK's roots as a small family business of clothiers based in New York’s garment district. It also speaks to the creative spirit of the artists and innovators who inspire and wear their clothing, those who understand and appreciate craftsmanship and authenticity.
    %p 
      The unique shape of the scissor subtly mimics a backwards letter B and K, differentiating the icon from other scissor iconography, and allows for brand association. The trademark holds great potential for playful exploration within garment details and print development. 
    %p.list
      Logo Design / Branding
      %br
      Trim Package
    .dash
    %h2 
      %a{:href => "http://www.dotbk.com", :target => "_blank"} www.dotbk.com


  .pagination
    %a.previous{:href => "/misterux"}
      %h3 ← Previous 
    %a.next{:href => "/zana"}
      %h3 Next →
