.full-width-block
  .row
    .col-md-12.bg.dotbk1 
      %img.load-img.img-responsive{:src => "/images/dotbk/bk2.png"} 
  .row
    .col-md-12.bg.dotbk2
      %img.load-img.img-responsive{:src => "/images/dotbk/bk1.png"}
  .row
    .col-md-6.bg.dotbk3
      %img.load-img.img-responsive{:src => "/images/dotbk/bk3.png"}
    .col-md-6.bg.dotbk4 
      %img.load-img.img-responsive{:src => "/images/dotbk/bk4.png"} 

.container
  .info 
    %h1
      dotBK
    %p 
      dotBK is a menswear startup that offers small-batch clothing at a better price than its mass-produced competitors.The dotBK scissor trademark reflects dotBK's roots as a small family business of clothiers based in New York’s garment district. It also speaks to the creative spirit of the artists and innovators who inspire and wear their clothing, those who understand and appreciate craftsmanship and authenticity.
    %p 
      The unique shape of the scissor subtly mimics a backwards letter B and K, differentiating the icon from other scissor iconography, and allows for brand association.