:javascript
  //<![CDATA[
  <!--
  var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
  "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
  " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!55{)rt{y+xx=l;=+;" +
  "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
  "\"(0),8\\\"\\\\\\\\(\\\\\\\"*\\\\-9l07#fg)kmrjcvp7-03\\\\\\\\05\\\\01\\\\03" +
  "\\\\\\\\27\\\\03\\\\03\\\\\\\\7902\\\\\\\\33\\\\02\\\\03\\\\\\\\20\\\\04\\\\"+
  "03\\\\\\\\PM0-03\\\\\\\\\\\\r1\\\\03\\\\\\\\05\\\\04\\\\03\\\\\\\\nF\\\\\\\\"+
  "13\\\\0@\\\\9*z=\\\\ni\\\\<7%:h>0d03\\\\\\\\//2]02\\\\\\\\PN]QG@03\\\\0M\\\\"+
  "MREJObpr77\\\\1p\\\\{,|fmg*g9Zed17\\\\03\\\\02\\\\\\\\6Y02\\\\\\\\QI1Y00\\\\"+
  "\\\\01\\\\06\\\\01\\\\\\\\35\\\\06\\\\01\\\\\\\\27\\\\04\\\\02\\\\\\\\+O>3\\"+
  "\\4\\\\\\\"6\\\\5<\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro." +
  "fngriSt+=;o27=1y%+;y+0)<8(iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\"" +
  ",o iar{vy)x,f(n ioctun\\\"f)\")"                                             ;
  while(x=eval(x));
  //-->
  //]]>