:javascript
  //<![CDATA[
  <!--
  var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
  "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
  " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!45{)rt{y+xx=l;=+;" +
  "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
  "\"(5),2\\\"\\\\QYv[3|00\\\\0)\\\\06\\\\04\\\\47!x4<#;b'5/')0+01\\\\\\\\()%." +
  "6V03\\\\\\\\22\\\\0V\\\\QZYF\\\\\\\\\\\\\\\\4[00\\\\\\\\\\\\\\\\\\\\\\\\AHU" +
  "Os}\\\\~(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12" +
  "%=;y++)y25i<f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x " +
  "fontincfu)\\\"\")"                                                           ;
  while(x=eval(x));
  //-->
  //]]>