.projects 
  .row  
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/cfda"}
        %img{:src => "/images/tnail-cfda.jpg"} 
  
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/boucher"}
        %img.no-border{:src => "/images/tnail-boucher.jpg"} 

    .project-tile.col-xs-6.col-md-3
      %a{:href => "/wetlook"}
        %img{:src => "/images/tnail-wetlook.jpg"} 

    .project-tile.col-xs-6.col-md-3
      %a{:href => "/happa"}
        %img.no-border{:src => "/images/tnail-happa.jpg"} 

    .project-tile.col-xs-6.col-md-3
      %a{:href => "/blkleathervest"}
        %img.no-border{:src => "/images/tnail-blkvest.jpg"}  
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/blkskirt"}
        %img.no-border{:src => "/images/tnail-blkskirt.jpg"}   

    .project-tile.col-xs-6.col-md-3
      %a{:href => "/patchwork"}
        %img.no-border{:src => "/images/tnail-patchwork.jpg"}   
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/leatherskirt1"}
        %img.no-border{:src => "/images/tnail-leatherskirt2.jpg"} 