.item
  .row
    .col-md-12    
      %img.half-width.no-border{:src => "/images/fox-icon.jpg"} 
  .item-info 
    %h1
      Starfox
    %p.list
      Illustration
    .dash
    %h2 
      %a{:href => "http://www.starfoxmusic.com", :target => "_blank"}www.starfoxmusic.com
