.item 
  .row 
    .col-md-12
      %img{:src => "/images/frankie1.jpg"} 
  
  .item-info 
    %h1 Frankie
    %p.list 
      Toy Design


.pagination
  %a.previous{:href => "/raccoon"}
    %h3 ← Previous 
  %a.next{:href => "/"}
    %h3 Home →