.full-width-block
  .row.bg.gifgasm
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/gifgasm/gifgasm-logo.gif"}  
  %a{:name => "more"} 
    .row.bg.gifgasm2
      .col-md-12   
        %img.load-img.img-responsive{:src => "/images/gifgasm/loading.gif"}  
    
.container.project-body
  .row
    .col-md-12   
      %iframe.gifgasm-video{:allowfullscreen => "", :frameborder => "0", :height => "650px", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/118317157?color=f8efea&title=0&byline=0&portrait=0", :webkitallowfullscreen => "", :width => "100%"}

  .info
    %h1
      Gifgasm, an Infinite Loop Experiment
    %p 
      I worked with Ryan Rogalski and Charlie Schwabacher to create Gifgasm, a modern search engine for tumblr gifs. You can search for keywords and instantly see all recent tumblr posts with that tag. You can also view a specific tumblr by entering 
      %a{:href => "http://www.gifgasm.me/blog:30000fps", :target => "_blank"} 
        blog:tumblrname. 
    %p
      Featured on
      %a{:href => "http://www.producthunt.com/posts/gifgasm", :target => "_blank"}
        Product Hunt 
      and 
      %a{:href => "https://www.designernews.co/stories/22082-gifgasm", :target => "_blank"}
        Designer News.
      Cover .gif by 
      %a{:href => "http://30000fps.tumblr.com", :target => "_blank"}
        30000fps.
    %h2 
      %a{:href => "http://www.gifgasm.me", :target => "_blank"} www.gifgasm.me

      
.pagination
  .inner
    %a{:href => "/alexawright"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/infiniteloop"} 
      .next
        %span.fa.fa-angle-left 

= haml :work