.full-width-block
  .row.bg.gifgasm
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/gifgasm/gifgasm-logo.gif"}  

.container
  .info
    %h1 Gifgasm
    %a.btn.more{:href => "/gifgasm#more", :target => "_blank"} 
      More 
      %span.fa.fa-angle-right
    %h2 
      %a{:href => "http://www.gifgasm.me", :target => "_blank"} www.gifgasm.me