.row.bg.gifgasm.bottom-space
  .col-md-12   
    %img.load-img.img-responsive{:src => "/images/gifgasm/gifgasm-logo.gif"}  
%h1 Gifgasm
%a.btn-more{:href => "/gifgasm", :target => "_blank"} 
  More 
  %span.fa.fa-angle-right