.item
  .row.bg.gifgasm.bottom-space
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/gifgasm/gifgasm-logo.gif"}  
  .row.bg.gifgasm2.bottom-space
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/gifgasm/loading.gif"}  

  .row
    .col-md-12   
      %iframe.video{:allowfullscreen => "", :frameborder => "0", :height => "700", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/78756378?byline=0&amp;portrait=0&amp;autoplay=1", :webkitallowfullscreen => "", :width => "1050"}

.container
  .item-info 
    %h1
      Gifgasm, an Infinite Loop Experiment
    %p 
      I worked with Ryan Rogalski and Charlie Schwabacher to create Gifgasm, a modern search engine for tumblr gifs. You can search for keywords and instantly see all recent tumblr posts with that tag. You can also view a specific tumblr by entering 
      %a{:href => "http://www.gifgasm.me/blog:30000fps", :target => "_blank"} 
        blog:tumblrname. 
      %a{:href => "http://www.producthunt.com/posts/gifgasm", :target => "_blank"}
        Product Hunt 
      and 
      Designer News.
    %ul.tags
      %li Logo Design
    %h2 
      %a{:href => "http://www.gifgasm.me", :target => "_blank"} www.gifgasm.me