.glitter
  - 56.times do
    .col-sm-6
      .circle-outside
        .circle-inside
          .circle-inside
            .circle-inside
              .circle-inside
                .circle-inside
                  .circle-inside
                    .circle-inside
                      .circle-inside
                        .circle-inside
                          .circle-inside