.row.awrightsize
  .col-md-12   
    %img.load-img.img-responsive.space{:src => "/images/awright/pillow-3.jpg"} 
.row.awrightsize
  .col-md-12   
    %img.load-img.img-responsive.space{:src => "/images/awright/pillow-2.jpg"} 
.row.awrightsize
  .col-md-12   
    %img.load-img.img-responsive.space{:src => "/images/awright/pillow-1.jpg"}
