
.project-tile-wrap.vestorly
  %a.project-tile{:href => "/vestorly"}
    %h1 Vestorly

.project-tile-wrap.cosine
  %a.project-tile{:href => "/vestorly"}
    %h1 The Cosine Group


.project-tile-wrap.manus
  %a{:href => "/manusbio"}
    %h1 Manus Bio

.project-tile-wrap.fox
  %a{:href => "/starfox"}
    %h1 Starfox

.project-tile-wrap.awright
  %a{:href => "/awright"}
    %h1 ALEXA WRIGHT

.project-tile-wrap.sols
  %a.project-tile{:href => "/solssite"}
    %h1 SOLS

.project-tile-wrap.bitcoin
  %a.project-tile{:href => "/bitcoin"}
    %h1 Bitcoin

.project-tile-wrap.allpaws
  %a.project-tile{:href => "/allpaws"}
    %h1 AllPaws

.project-tile-wrap.wang
  %a.project-tile{:href => "/wanggrid"}  
    %h1 Wang            

/ .project-tile-wrap
/   %a.project-tile{:href => "/chloeisabel"}
/     %img.load-img{:src => "/images/tnail/chloe2.jpg"}

/ .project-tile-wrap
/   %a.project-tile{:href => "/azteco"}
/     %img.load-img{:src => "/images/tnail/aw.jpg"}        

.project-tile-wrap.infiniteloop
  %a.project-tile{:href => "/infiniteloop"}
    %h1 Infinite Loop   

/ .project-tile-wrap
/   %a.project-tile{:href => "/cubedeco"}
/     %img.load-img{:src => "/images/tnail/aw.jpg"}        

/ .project-tile-wrap
/   %a.project-tile{:href => "/torii"}
/     %img.load-img{:src => "/images/tnail/torii2.jpg"}        
/ .project-tile-wrap
/   %a.project-tile{:href => "/vanessaliannesite"}
/     %img.load-img{:src => "/images/tnail/vlj-logo2.jpg"}        
/ .project-tile-wrap
/   %a.project-tile{:href => "/sols"}
/     %img.load-img{:src => "/images/tnail/sols2.jpg"}  

/ .project-tile-wrap
/   %a.project-tile{:href => "/toastgame"}
/     %img.load-img{:src => "/images/tnail/toast2.jpg"}         
/ .project-tile-wrap
/   %a.project-tile{:href => "/monkeybadger"}
/     %img.load-img{:src => "/images/tnail/monkeybadger2.jpg"}         

/ .project-tile-wrap
/   %a.project-tile{:href => "/misterux"}
/     %img.load-img{:src => "/images/tnail/mrux2.jpg"}         
/ .project-tile-wrap
/   %a.project-tile{:href => "/dotbk"}
/     %img.load-img{:src => "/images/tnail/dotbk2.jpg"}           
/ .project-tile-wrap
/   %a.project-tile{:href => "/zana"}
/     %img.load-img{:src => "/images/tnail/zana2.jpg"}           
/ .project-tile-wrap
/   %a.project-tile{:href => "/threadpillows"}
/     %img.load-img{:src => "/images/tnail/aw.jpg"} 

/ .project-tile-wrap
/   %a.project-tile{:href => "/mkpillow"}
/     %img.load-img{:src => "/images/tnail/aw.jpg"} 

/ .project-tile-wrap
/   %a.project-tile{:href => "/raccoon"}
/     %img.load-img{:src => "/images/tnail/aw.jpg"}  

/ .project-tile-wrap
/   %a.project-tile{:href => "/patchwork"}
/     %img.load-img{:src => "/images/tnail/aw.jpg"}  
