
.project-tile-wrap
  %a.project-tile{:href => "/bitcoin"}
    .project-tile-overlay
      %img{:src => "/images/bitcoin-logo2.jpg"}        
    %img{:src => "/images/tnail-bitcoin1.jpg"}

.project-tile-wrap
  %a.project-tile{:href => "/solssite"}
    .project-tile-overlay
      %img{:src => "/images/tnail-sols.jpg"}        
    %img{:src => "/images/tnail-sols2.jpg"}

.project-tile-wrap
  %a.project-tile{:href => "/allpaws"}
    .project-tile-overlay
      %img{:src => "/images/allpaws-logo.jpg"}        
    %img{:src => "/images/allpaws-logo3.jpg"}
.project-tile-wrap
  %a.project-tile{:href => "/wanggrid"}  
    .project-tile-overlay
      %img{:src => "/images/tnail-wang2.jpg"}            
    %img{:src => "/images/tnail-wang.jpg"} 

.project-tile-wrap
  %a.project-tile{:href => "/vestorly"}
    .project-tile-overlay
      %img{:src => "/images/vestorly-logo.jpg"}        
    %img{:src => "/images/vestorly-logo2.jpg"}

.project-tile-wrap
  %a.project-tile{:href => "/chloeisabel"}
    .project-tile-overlay
      %img{:src => "/images/chloe-logo2.jpg"}        
    %img{:src => "/images/chloe-logo.png"}

.project-tile-wrap
  %a.project-tile{:href => "/azteco"}
    .project-tile-overlay
      %img{:src => "/images/aw-logo.jpg"}        
    %img{:src => "/images/tnail-wallpaper1.png"}

.project-tile-wrap
  %a.project-tile{:href => "/infiniteloop"}
    .project-tile-overlay
      %img{:src => "/images/tnail-infiniteloop2.jpg"}        
    %img{:src => "/images/tnail-infiniteloop.jpg"}

.project-tile-wrap
  %a.project-tile{:href => "/cubedeco"}
    .project-tile-overlay
      %img{:src => "/images/aw-logo.jpg"}        
    %img{:src => "/images/tnail-wallpaper2-1.png"}



.project-tile-wrap
  %a.project-tile{:href => "/torii"}
    .project-tile-overlay
      %img{:src => "/images/tnail-torii2.jpg"}        
    %img{:src => "/images/tnail-torii.jpg"}



.project-tile-wrap
  %a.project-tile{:href => "/vanessaliannesite"}
    .project-tile-overlay
      %img{:src => "/images/vlj-logo2.jpg"}        
    %img{:src => "/images/vlj-logo.jpg"}

.project-tile-wrap
  %a.project-tile{:href => "/sols"}
    .project-tile-overlay
      %img{:src => "/images/tnail-sols.jpg"}        
    %img{:src => "/images/tnail-sols3.jpg"}


.project-tile-wrap
  %a.project-tile{:href => "/toastgame"}
    .project-tile-overlay
      %img{:src => "/images/tnail-toast2.jpg"}         
    %img{:src => "/images/tnail-toast.jpg"}

.project-tile-wrap
  %a.project-tile{:href => "/monkeybadger"}
    .project-tile-overlay
      %img{:src => "/images/tnail-monkeybadger2.jpg"}         
    %img{:src => "/images/tnail-monkeybadger.jpg"}

.project-tile-wrap
  %a.project-tile{:href => "/misterux"}
    .project-tile-overlay
      %img{:src => "/images/tnail-tools2.jpg"}         
    %img{:src => "/images/tnail-tools.jpg"}

.project-tile-wrap
  %a.project-tile{:href => "/dotbk"}
    .project-tile-overlay
      %img{:src => "/images/tnail-dotbk2.jpg"}           
    %img{:src => "/images/tnail-dotbk.jpg"}

.project-tile-wrap
  %a.project-tile{:href => "/zana"}
    .project-tile-overlay
      %img{:src => "/images/tnail-zanatape2.jpg"}           
    %img{:src => "/images/tnail-zanatape.jpg"} 

.project-tile-wrap
  %a.project-tile{:href => "/threadpillows"}
    .project-tile-overlay
      %img{:src => "/images/aw-logo.jpg"} 
    %img{:src => "/images/thread-pillows-tnail.jpg"} 

.project-tile-wrap
  %a.project-tile{:href => "/mkpillow"}
    .project-tile-overlay
      %img{:src => "/images/aw-logo.jpg"} 
    %img{:src => "/images/mk-tnail.jpg"}  

.project-tile-wrap
  %a.project-tile{:href => "/raccoon"}
    .project-tile-overlay
      %img{:src => "/images/aw-logo.jpg"}  
    %img{:src => "/images/raccoon-1.jpg"}  

.project-tile-wrap
  %a.project-tile{:href => "/frankie"}
    .project-tile-overlay
      %img{:src => "/images/aw-logo.jpg"}  
    %img{:src => "/images/tnail-frankie.jpg"}  

/ .project-tile-wrap
/   %a.project-tile{:href => "/cfda"}
/     .project-tile-overlay
/       %img{:src => "/images/tnail-cfda2.jpg"}
/     %img{:src => "/images/tnail-cfda.jpg"} 

/ .project-tile-wrap
/   %a.project-tile{:href => "/boucher"}
/     .project-tile-overlay
/       %img.no-border{:src => "/images/tnail-boucher2.jpg"} 
/     %img.no-border{:src => "/images/tnail-boucher.jpg"} 

/ .project-tile-wrap
/   %a.project-tile{:href => "/wetlook"}
/     .project-tile-overlay
/       %img{:src => "/images/tnail-wetlook2.jpg"} 
/     %img{:src => "/images/tnail-wetlook.jpg"} 

/ .project-tile-wrap
/   %a.project-tile{:href => "/happa"}
/     .project-tile-overlay
/       %img.no-border{:src => "/images/tnail-happa2.jpg"} 
/     %img.no-border{:src => "/images/tnail-happa.jpg"} 

/ .project-tile-wrap
/   %a.project-tile{:href => "/blkleathervest"}
/     %img.no-border{:src => "/images/tnail-blkvest.jpg"}  

/ .project-tile-wrap
/   %a.project-tile{:href => "/blkskirt"}
/     %img.no-border{:src => "/images/tnail-blkskirt.jpg"}   

/ .project-tile-wrap
/   %a.project-tile{:href => "/patchwork"}
/     %img.no-border{:src => "/images/tnail-patchwork.jpg"}   
    
/ .project-tile-wrap
/   %a.project-tile{:href => "/leatherskirt1"}
/     %img.no-border{:src => "/images/tnail-leatherskirt2.jpg"} 
