.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/happa/happa1.jpg"} 
      %img.img-responsive{:src => "/images/happa/happa2.jpg"} 
      %img.img-responsive{:src => "/images/happa/happa3.jpg"} 
      %img.img-responsive{:src => "/images/happa/happa4.jpg"} 
      %img.img-responsive{:src => "/images/happa/happa5.jpg"} 
      %img.img-responsive{:src => "/images/happa/happa6.jpg"} 
      %img.img-responsive{:src => "/images/happa/happa7.jpg"} 
  .info 
    %h1
      Happa
    %p
      Spring I Collection
