.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/happa1.jpg"} 
      %img.img-responsive{:src => "/images/happa2.jpg"} 
      %img.img-responsive{:src => "/images/happa3.jpg"} 
      %img.img-responsive{:src => "/images/happa4.jpg"} 
      %img.img-responsive{:src => "/images/happa5.jpg"} 
      %img.img-responsive{:src => "/images/happa6.jpg"} 
      %img.img-responsive{:src => "/images/happa7.jpg"} 
  .item-info 
    %h1
      Happa
    %p
      Spring I Collection


.pagination
  %a.previous{:href => "/wetlook"}
    %h3 ← Previous 
  %a.next{:href => "/blkleathervest"}
    %h3 Next →