%header
  .container
    %a{:href => "/"}
      %img.header{:src => "/images/logo.png"} 
    %ul.nav
      %li
        %a.about-link{:href => "#"} 
          About
          %img{:src => "/images/arrow.png"}
