%header
  .container
    %a{:href => "/"}
      %img.header{:src => "/images/alexa-wright-logo.png"} 
    %ul.nav
      %li
        %a{:href => "/about"} 
          About
      %li
        %a{:href => "http://blog.alexa-wright.com", :target => "blank"} 
          Blog
      / %li
      /   %a{:href => "http://brainfood.alexa-wright.com", :target => "blank"} 
      /     Brainfood