%header
  .container
    %a{:href => "/"}
      %img.header{:src => "/images/logo.jpg"} 
    %ul.nav
      %li
        %a{:href => "/"} Projects
      %li
        %a.about-link{:href => "#"} 
          About &nbsp;
          %img{:src => "/images/arrow.png"}
