%header

  .container
    %a{:href => "/"}
      %img.header{:src => "/images/logo.png"} 
    %ul.nav
      %li
        %a{:href => "/"} 
          Work
      %li
        %a{:href => "/about"} 
          About
      %li
        %a{:href => "http://alexa-wright.tumblr.com", :target => "blank"} 
          Blog
