
%h4 Illustration

.item
  .row
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/toast/toast-4.jpg"}  
      %img.load-img.img-responsive{:src => "/images/toast/toast-2.jpg"} 
      %img.load-img.img-responsive{:src => "/images/toast/toast-1.jpg"}
      %img.load-img.img-responsive{:src => "/images/toast/toast-3.jpg"} 
      %img.load-img.img-responsive{:src => "/images/toast/toast-5.jpg"} 
  .item-info 
    %h1
      Mobile Game
    %ul.tags
      %li Character Design
      %li Illustration
    .dash
    %h2 
      %a{:href => "http://www.levinriegner.com", :target => "_blank"} www.levinriegner.com

.dash2

.item
  .row
    .col-md-12
      %img.load-img.img-responsive.space{:src => "/images/mrux/tools.jpg"} 
      %img.load-img.img-responsive.space{:src => "/images/mrux/monkey.jpg"} 
      %img.load-img.img-responsive.space{:src => "/images/mrux/puzzle.jpg"} 
      %img.load-img.img-responsive.space{:src => "/images/mrux/brain.png"}
      %img.load-img.img-responsive.space{:src => "/images/mrux/prism.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/mrux/iterate.png"}
      %img.load-img.img-responsive.space{:src => "/images/mrux/ipad_cut.png"}
      %img.load-img.img-responsive.space{:src => "/images/mrux/monolith-monkey.jpg"}  