.item
  .row
    .col-md-12    
      %img.img-responsive.no-border{:src => "/images/infiniteloop-1.jpg"}
      %img.img-responsive.no-border{:src => "/images/infiniteloop-4.jpg"} 
      %img.img-responsive.no-border.extra-space{:src => "/images/infiniteloop-3.jpg"} 
      %img.img-responsive.no-border.extra-space{:src => "/images/infiniteloop-8c.jpg"} 
      %img.img-responsive.no-border.extra-space{:src => "/images/infiniteloop-3c.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/infiniteloop-7c.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/infiniteloop-2c.jpg"}
  .item-info 
    %h1
      Infinite Loop
    %p.list 
      Branding
      %br
      Business Card Design
    .dash
    %h2 
      %a{:href => "http://www.infiniteloopco.com", :target => "_blank"} www.infiniteloopco.com

.pagination
  %a.previous{:href => "/azteco"}
    %h3 ← Previous 
  %a.next{:href => "/cubedeco"}
    %h3 Next →