.container
  .item
    .row
      .col-md-12    
        %img.load-img.img-responsive{:src => "/images/infiniteloop/infiniteloop-1.jpg"}
        %img.load-img.img-responsive{:src => "/images/infiniteloop/infiniteloop-4.jpg"} 
        %img.load-img.img-responsive.space{:src => "/images/infiniteloop/infiniteloop-3.jpg"} 
        %img.load-img.img-responsive.space{:src => "/images/infiniteloop/infiniteloop-8c.jpg"} 
        %img.load-img.img-responsive.space{:src => "/images/infiniteloop/infiniteloop-3c.jpg"}
        %img.load-img.img-responsive.space{:src => "/images/infiniteloop/infiniteloop-7c.jpg"}
        %img.load-img.img-responsive.space{:src => "/images/infiniteloop/infiniteloop-2c.jpg"}
  .container
    .item-info 
      %h1
        Infinite Loop
      %p.list 
        Visual Identity
        %br
        Business Card Design
      .dash
      %h2 
        %a{:href => "http://www.infiniteloopco.com", :target => "_blank"} www.infiniteloopco.com