.full-width-block
  .row.bg.infiniteloop1
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/infinite-loop/infinite-logo1.png"} 
.container
  .info
    %h1 Infinite Loop
    %a.btn.more{:href => "/infiniteloop", :target => "_blank"} 
      More 
      %span.fa.fa-angle-right

.pagination
  .inner
    %a{:href => "/vestorly"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/gifgasm"} 
      .next
        %span.fa.fa-angle-left 

= haml :work