.full-width-block
  .row.bg.infiniteloop1
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/infinite-loop/infinite-logo1.png"} 
  %a{:name => "more"}
    .row.bg.infiniteloop2
      .col-md-612  
        %img.load-img.img-responsive{:src => "/images/infinite-loop/infinite-logo3.png"} 

.container.project-body
  .row
    .col-md-12  
      %img.load-img.img-responsive{:src => "/images/infinite-loop/il-card2.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive{:src => "/images/infinite-loop/il-card.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive{:src => "/images/infinite-loop/il-card3.jpg"}
  .row
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/infinite-loop/guitar.jpg"}
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/infinite-loop/quartet.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive{:src => "/images/infinite-loop/turntable.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive{:src => "/images/infinite-loop/xone.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive{:src => "/images/infinite-loop/moog.jpg"}

  .info 
    %h1
      Infinite Loop
    %p.pull-center
      Infinite Loop is the creative studio of Ryan Rogalski, specializing in product design, front end development, and original music. 
    %ul.tags
      %li Visual Identity
      %li Photography
    %h2 
      %a{:href => "http://www.infiniteloopco.com", :target => "_blank"} www.infiniteloopco.com
  
.pagination
  .inner
    %a{:href => "/gifgasm"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/chloeisabel"} 
      .next
        %span.fa.fa-angle-left 

= haml :work