.full-width-block
  .row.bg.infiniteloop1
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/infinite-loop/infinite-logo1.png"} 
.container
  .info 
    %h1
      Infinite Loop
    %p.pull-center
      Infinite Loop is the creative studio of Ryan Rogalski, specializing in product design, front end development, and original music. 
    %a.btn.more{:href => "/infiniteloop", :target => "_blank"} 
      More 
      %span.fa.fa-angle-right