.row
  .col-md-4    
    %img.load-img.img-responsive.space{:src => "/images/johnfischer/j1.png"}
  .col-md-4    
    %img.load-img.img-responsive.space{:src => "/images/johnfischer/j2.png"}
  .col-md-4    
    %img.load-img.img-responsive.space{:src => "/images/johnfischer/j3.png"}
.container
  .info
    %h1 John Fischer
    %h2 
      %a{:href => "http://www.johnbfischer.com", :target => "_blank"} www.johnbfischer.com