.item.expand
  .row
    .col-md-12    
      %img.extra-space.img-responsive.no-border{:src => "/images/suck.gif"} 
      %br
      %img.extra-space.img-responsive.no-border{:src => "/images/cashmere.gif"} 

.item.expand
  .row
    .col-md-12    
      %img.extra-space.img-responsive.no-border{:src => "/images/ribbed.jpg"} 
