.full-width-block
  .row.bg.lassanai
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/lass/lassanai-logo.png"}

.container.project-body
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/lass/lassanai-imac.jpg"}
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/lass/lassanai-store.jpg"}
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/lass/lassanai-iphone.png"}
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/lass/lassanai-product-page.jpg"}
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/lass/lassanai-zoom.jpg"}

  .info 
    %h1
      Lassanai
    %p.lassanai
      A modern tribute to its ancient source, Lassanai pairs androgynous settings with one-of-a-kind gem rocks charged with the potent terrain that created them. Each distinctly unique stone selects its wearer as portal to its origin, channel to its virtues, and a ‘more than meets the eye’ fashion ally to harness inner Alpha and conquer today’s turf.
    %p I designed and developed an online store-front to showcase the bold and unique jewelry of Lassanai, a New York-based line owned & designed by Julia Ingall. The website is responsive and mobile-friendly.
    %ul.tags
      %li Visual Design
      %li Front End Web Development
    %h2 
      %a{:href => "http://www.lassanainyc.com", :target => "_blank"} www.lassanainyc.com
  
.pagination
  .inner
    %a{:href => "/vestorly"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/logos"} 
      .next
        %span.fa.fa-angle-left 

= haml :work