.item  
  %p 
  %img.clippedgar{:src => "/images/suedevest.jpg"} 
  %p
  %img.detailgar{:src => "/images/cardigan-d1.jpg"} 
  %img.detailgar{:src => "/images/cardigan-d2.jpg"} 
  %h2 Mixed Leathers Cardigan 
  %p Wool jersey knit & mixed leather scraps.