.item 
  .row 
    .col-md-6.col-sm-6
      %img.img-responsive.no-border{:src => "/images/patchskirt/leatherskirt-1.jpg"} 
    .col-md-6.col-sm-6
      %img.img-responsive.no-border{:src => "/images/patchskirt/leatherskirt-2.jpg"} 
  .item-info 
    %h1
      Leather Patchwork Skirt
    %p
      Reverse side leather patchwork with raw hem & patch pocket detail. 


.pagination
  %a.previous{:href => "/patchwork"}
    %h3 ← Previous 
  %a.next{:href => "/"}
    %h3 Home →