.full-width-block
  .row.bg.manus
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/manusbio/manusbio-2.jpg"}

.container.project-body  
  .row
    .col-md-12    
      %img.load-img.img-responsive.shadow.border{:src => "/images/manusbio/manusbio-1.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow{:src => "/images/manusbio/manusbio-3.jpg"}

  .info 
    %h1
      Manus Bio
    %p
      Manus Bio is company creating new ways to create plant-based ingredients. They needed a new site to communicate the sustainable benefits of their process, shifting associations from science labs to the environment. A fresh update to their logo paved the way for a more modern site. A sleek site redesign with immersive images of nature evokes a "green" atmosphere, while custom drawings illustrate their process. 
      I designed the homepage with wave-like shapes to reflect forms found in nature and create a gentle flow between sections. 

    %ul.tags
      %li Visual Design
      %li Responsive Design
      %li Front-End Development
      %li Illustration
    %h2 
      %a{:href => "http://www.manusbio.com", :target => "_blank"} www.manusbio.com

      
.pagination
  .inner
    %a{:href => "/awright"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/gifgasm"} 
      .next
        %span.fa.fa-angle-left 

= haml :work