.item
  .row.misterux
    .col-md-12  
      %img.img-responsive.no-border.extra-space{:src => "/images/mrux/mrux-logo.png"} 
      %img.img-responsive.no-border.extra-space{:src => "/images/mrux/tools.jpg"} 
      %img.img-responsive.no-border.extra-space{:src => "/images/mrux/monkey.jpg"} 
      %img.img-responsive.no-border.extra-space{:src => "/images/mrux/puzzle.jpg"} 
      %img.img-responsive.no-border.extra-space{:src => "/images/mrux/brain.png"}
      %img.img-responsive.no-border.extra-space{:src => "/images/mrux/prism.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/mrux/iterate.png"}
      %img.img-responsive.no-border.extra-space{:src => "/images/mrux/ipad_cut.png"}
      %img.img-responsive.no-border.extra-space{:src => "/images/mrux/monolith-monkey.jpg"}  
  .item-info 
    %h1
      Mister UX
    %p 
      I developed each of these illustrative concepts based on copy from the Mr. UX site. I drew in mathematical, geometric, and references to perspective sketches to reflect the precise & technical approach of Mr. UX. 
    %p.list
      Concept Development
      %br
      Illustration
    .dash
    %h2 
      %a{:href => "http://www.misterux.com", :target => "_blank"}www.misterux.com

  .pagination
    %a.previous{:href => "/monkeybadger"}
      %h3 ← Previous 
    %a.next{:href => "/dotbk"}
      %h3 Next →