
.row
  .col-md-12  
    %img.load-img.img-responsive.space{:src => "/images/mrux/tools.jpg"} 
.row
  .col-md-12  
    %img.load-img.img-responsive.space{:src => "/images/mrux/monkey.jpg"} 
.row
  .col-md-12  
    %img.load-img.img-responsive.space{:src => "/images/mrux/puzzle.jpg"} 
.row
  .col-md-12  
    %img.load-img.img-responsive.space{:src => "/images/mrux/brain.png"}
.row
  .col-md-12  
    %img.load-img.img-responsive.space{:src => "/images/mrux/prism.jpg"}
.row
  .col-md-12  
    %img.load-img.img-responsive.space{:src => "/images/mrux/iterate.png"}
.row
  .col-md-12  
    %img.load-img.img-responsive.space{:src => "/images/mrux/ipad_cut.png"}
.row
  .col-md-12  
    %img.load-img.img-responsive.space{:src => "/images/mrux/monolith-monkey.jpg"}  
.info 
  %h1
    Mister UX
  %p 
    I developed each of these illustrative concepts based on copy from the Mr. UX site. I drew in mathematical, geometric, and references to perspective sketches to reflect the precise & technical approach of Mr. UX. 
  %ul.tags
    %li Concept Development
    %li Illustration
  %h2 
    %a{:href => "http://www.misterux.com", :target => "_blank"}www.misterux.com