.item
  .row
    .col-md-12    
      %img.img-responsive.no-border.load-img{:src => "/images/mack/mkpillow.jpg"} 
  .info 
    %h1
      Halftone Print
    %p Halftone print created from photographs of mine and screenprinted onto handmade envelope-back cotton pillowcase.
    .dash
    %ul.tags 
      Print Design
      %br
      Experimental Screenprinting