.item
  .row
    .col-md-12    
      %img.img-responsive.no-border.load-img{:src => "/images/mack/mkpillow.jpg"} 
  .item-info 
    %h1
      Halftone Print
    %p Halftone print created from photographs of mine and screenprinted onto handmade envelope-back cotton pillowcase.
    .dash
    %p.list 
      Print Design
      %br
      Experimental Screenprinting


.pagination
  %a.previous{:href => "/threadpillows"}
    %h3 ← Previous 
  %a.next{:href => "/raccoon"}
    %h3 Next →