.item
  .row
    .col-md-12    
      %img.load-img.img-responsive.no-border.extra-space{:src => "/images/monkeybadger/mb-logo.jpg"} 
      %img.load-img.img-responsive.no-border.extra-space{:src => "/images/monkeybadger/monkeybadger-2.jpg"} 
      %img.load-img.img-responsive.no-border.extra-space{:src => "/images/monkeybadger/monkeybadger-1.jpg"} 
      %img.load-img.img-responsive.extra-space{:src => "/images/monkeybadger/mbadger.jpg"}  

  .item-info 
    %h1
      MonkeyBadger
    %p.list
      Logo / Branding
    .dash
    %h2 
      %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"}MonkeyBadger on BitBucket &raquo;

  .pagination
    %a.previous{:href => "/toastgame"}
      %h3 ← Previous 
    %a.next{:href => "/misterux"}
      %h3 Next →