.row
  .col-md-12.bg.monkeybadger   
    %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"}
      %img.load-img.img-responsive{:src => "/images/tcg/monkeybadger.png"}
  .col-md-12.bg.monkeybadger2
    %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"} 
      %img.load-img.img-responsive{:src => "/images/tcg/mb-guys.png"}
  .col-md-12.bg.monkeybadger.bottom-space  
    %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"}
      %img.load-img.img-responsive.bottom-space{:src => "/images/tcg/mb-logo.png"}
.item-info
  %h1 MonkeyBadger
  %h2 
    %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"} MonkeyBadger on BitBucket