.item
  .row
    .col-md-12    
      %img.img-responsive.no-border{:src => "/images/monkeybadger-2.jpg"} 
      %img.img-responsive.no-border{:src => "/images/monkeybadger-1.jpg"} 
      %img.no-border.img-responsive{:src => "/images/monkeybadger-3.jpg"}
      %img.img-responsive.no-border{:src => "/images/mbadger.jpg"}  

  .item-info 
    %h1
      MonkeyBadger
    %p.list
      Logo/Brand Identity
    .dash
    %h2 
      %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"}MonkeyBadger on BitBucket &raquo;

  .pagination
    %a.previous{:href => "/chloeisabel"}
      %h3 ← Previous 
    %a.next{:href => "/misterux"}
      %h3 Next →