.full-width-block
  .row
    .col-md-12.bg.monkeybadger   
      %img.load-img.img-responsive{:src => "/images/tcg/monkeybadger.png"}
  .row
    .col-md-12.bg.monkeybadger2
      %img.load-img.img-responsive{:src => "/images/tcg/mb-guys.png"}
  .row
    .col-md-12.bg.monkeybadger 
      %img.load-img.img-responsive{:src => "/images/tcg/mb-logo.png"}

.container
  .info
    %h1 MonkeyBadger
    %h2 
      %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"} MonkeyBadger on BitBucket