.row.bg.mountpenguin.bottom-space
  .col-md-12    
    %img.load-img.img-responsive.bottom-space{:src => "/images/tcg/mountp.png"}
.item-info
  %h1 Mount Penguin
  %p Hello
  %h2 
    %a{:href => "http://www.mountpenguin.com", :target => "_blank"}www.mountpenguin.com