.full-width-block
  .row.bg.mountpenguin
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/tcg/mountp.png"}

.container
  .info
    %h1 Mount Penguin
    %p Hello
    %h2 
      %a{:href => "http://www.mountpenguin.com", :target => "_blank"}www.mountpenguin.com