.container
  .row.social-tile-row
    .col-sm-3
      .social-tile-wrap
        .fa.fa-tumblr
        .social-tile
          %img.img-responsive{:src => "http://placehold.it/500x500"}
    .col-sm-3
      .social-tile-wrap
        .fa.fa-tumblr
        .social-tile
          %img.img-responsive{:src => "http://placehold.it/500x500"}
    .col-sm-3
      .social-tile-wrap
        .fa.fa-soundcloud
        .social-tile
          %img.img-responsive{:src => "http://placehold.it/500x500"}
    .col-sm-3
      .social-tile-wrap
        .fa.fa-pinterest
        .social-tile
          %img.img-responsive{:src => "http://placehold.it/500x500"}
  .row
    .col-sm-3
      .social-tile-wrap
        .fa.fa-instagram
        .social-tile
          %img.img-responsive{:src => "http://placehold.it/500x500"}
    .col-sm-3
      .social-tile-wrap
        test asdklfj
        .social-tile
          %img.img-responsive{:src => "http://placehold.it/500x500"}
    .col-sm-3
      .social-tile-wrap
        test asdklfj
        .social-tile
          %img.img-responsive{:src => "http://placehold.it/500x500"}
    .col-sm-3
      .social-tile-wrap
        test asdklfj
        .social-tile
          %img.img-responsive{:src => "http://placehold.it/500x500"}