.item
  .row
    .col-md-12   
      %img.img-responsive{:src => "/images/nikon-site.jpg"}
  .item-info 
    %h1
      Nikon
    %p.list
      Web Design
    .dash
    %h2 
      %a{:href => "http://www.sols.co", :target => "_blank"} www.sols.co