.container.project-body
  .row
    .col-md-12   
      %img.img-responsive.border.shadow{:src => "/images/nikon/nikon-site.jpg"}
  .row
    .col-md-12   
      %img.img-responsive.border.shadow{:src => "/images/nikon/nikon-site2.jpg"}
  .row
    .col-md-12   
      %img.img-responsive.border.shadow{:src => "/images/nikon/nikon-site3.jpg"}
  .row
    .col-md-12   
      %img.img-responsive.border.shadow{:src => "/images/nikon/nikon-site4.jpg"}
  .info 
    %h1
      Nikon
    %ul.tags
      %li Visual Design


.pagination
  .inner
    %a{:href => "/bitcoin"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/sols"} 
      .next
        %span.fa.fa-angle-left 

= haml :work

