.item 
  .row 
    .col-sm-6
      %img.no-border.img-responsive{:src => "/images/patchwork/patchwork-1.jpg"} 
    .col-sm-6
      %img.no-border.img-responsive{:src => "/images/patchwork/patchwork-2.jpg"} 
  .row
    .col-sm-4
      %img.img-responsive{:src => "/images/patchwork/patchwork-d2.jpg"} 
    .col-sm-4
      %img.img-responsive{:src => "/images/patchwork/patchwork-d3.jpg"} 
    .col-sm-4
      %img.img-responsive{:src => "/images/patchwork/patchwork-d1.jpg"} 
  .item-info 
    %h1
      Patchwork Leather Foldover Jacket
    %p
      Created from salvaged second-hand leather.
    %p.list
      Fashion Design
      %br
        Pattern-making


.pagination
  %a.previous{:href => "/raccoon"}
    %h3 â† Previous 
  %a.next{:href => "/"}
    %h3 That's all, folks!