.item 
  .row 
    .col-sm-6
      %img.no-border.img-responsive{:src => "/images/patchwork-1.jpg"} 
    .col-sm-6
      %img.no-border.img-responsive{:src => "/images/patchwork-2.jpg"} 
  .row
    .col-sm-4
      %img.img-responsive{:src => "/images/patchwork-d2.jpg"} 
    .col-sm-4
      %img.img-responsive{:src => "/images/patchwork-d3.jpg"} 
    .col-sm-4
      %img.img-responsive{:src => "/images/patchwork-d1.jpg"} 
  .item-info 
    %h1
      Patchwork Leather Foldover Jacket
    %p
      This one-of-a-kind jacket was created from salvaged second-hand leather.


.pagination
  %a.previous{:href => "/frankie"}
    %h3 ← Previous 
  %a.next{:href => "/leatherskirt1"}
    %h3 Next →