.container
  .row 
    .col-md-12.col-sm-12.rowspace
      %img.load-img.img-responsive{:src => "/images/patchwork/patchwork-1.jpg"} 
    .col-md-12.col-sm-12.rowspace
      %img.load-img.img-responsive{:src => "/images/patchwork/patchwork-2.jpg"} 
  .row
    .col-md-4.col-sm-12.rowspace
      %img.load-img.border.img-responsive{:src => "/images/patchwork/patchwork-d2.jpg"} 
    .col-md-4.col-sm-12.rowspace
      %img.load-img.border.img-responsive{:src => "/images/patchwork/patchwork-d3.jpg"} 
    .col-md-4.col-sm-12.rowspace
      %img.load-img.border.img-responsive{:src => "/images/patchwork/patchwork-d1.jpg"} 