.projects
  .row
    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/threadpillows"}
        %img{:src => "/images/thread-pillows-tnail.jpg"} 

    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/mkpillow"}
        %img{:src => "/images/mk-tnail.jpg"}  

    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/raccoon"}
        %img{:src => "/images/raccoon-1.jpg"}  

    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/frankie"}
        %img{:src => "/images/tnail-frankie.jpg"}  