.item
  .row
    .col-md-12  
      %img.full-width{:src => "/images/portfolio-site.jpg"} 
      %img.full-width.no-border{:src => "/images/portfolio-ipad.jpg"} 
    .col-md-5
      %img.half-width.no-border{:src => "/images/portfolio-iphone.jpg"} 
  %h1 Portfolio Site
  .dash
  %h2 www.alexa-wright.com
