.item 
  .row 
    .col-sm-6
      %img.img-responsive.no-border.load-img{:src => "/images/wug/raccoon-1.jpg"} 
    .col-sm-6
      %img.img-responsive.no-border.load-img{:src => "/images/wug/raccoon-2.jpg"} 

  .item-info 
    %h1
      Wug
    %p.list 
      Toy Design


.pagination
  %a.previous{:href => "/mkpillow"}
    %h3 ← Previous 
  %a.next{:href => "/patchwork"}
    %h3 Next →