.item 
  .row 
    .col-sm-6
      %img.img-responsive.no-border.load-img{:src => "/images/wug/raccoon-1.jpg"} 
    .col-sm-6
      %img.img-responsive.no-border.load-img{:src => "/images/wug/raccoon-2.jpg"} 

  .info 
    %h1
      Wug
    %ul.tags 
      Toy Design