.full-width-block
  .row
    .col-md-12.bg.raiserve1 
      %img.load-img.img-responsive{:src => "/images/raiserve/raise1.png"} 
  .row
    .col-md-12.bg.raiserve2
      %img.load-img.img-responsive{:src => "/images/raiserve/raise2.png"}
  .row
    .col-md-6.bg.raiserve3
      %img.load-img.img-responsive{:src => "/images/raiserve/raise3.png"}
    .col-md-6.bg.raiserve4 
      %img.load-img.img-responsive{:src => "/images/raiserve/raise4.png"} 

.container
  .info 
    %h1
      Raiserve
    %p 
      Raiserve is a non-profit allows volunteers and their supporters to come together to build a better world through volunteer service. First, volunteers pledge a number of hours of community service. Then supporters sponsor each hour that is volunteered. This contribution goes directly to the non-profit organization. 