.item
  .row
    .col-md-12    
      %img.full-width.no-border{:src => "/images/rose-thorn-tag.png"}
  .item-info 
    %h1
      Rose + Thorn
    %p.list
      Branding
      %br
      Packaging Design
