.full-width-block
  .row.bg.sols
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/sols/sols-logo.png"} 
  
.container.project-body  
  .row
    .col-md-12   
      %img.load-img.img-responsive.shadow{:src => "/images/sols/sols-s-1.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow{:src => "/images/sols/sols-s-3.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive{:src => "/images/sols/sols-s-6.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.border.shadow{:src => "/images/sols/sols-s-2.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive{:src => "/images/sols/sols-s-5.jpg"}

  .row
    .col-md-12    
      %img.load-img.img-responsive.shadow{:src => "/images/sols/sols-8.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow{:src => "/images/sols/sols-10.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow{:src => "/images/sols/sols-9 copy.jpg"} 
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow{:src => "/images/sols/sols-3.jpg"}
  .row
    .col-md-12  
      %img.load-img.img-responsive.shadow{:src => "/images/sols/sols-2.jpg"} 

  .info 
    %h1
      SOLS
    %p
      SOLS custom 3D-printed orthotics are a second skin. Completely unique to each wearer, they transcend the function of insoles and become a part of one's feet. The abstracted double helix logo concept echoes SOLS innovative made-to-measure approach, suggesting that SOLS are an extension of the wearer's own unique genetic makeup. The symbol evokes a scientific and futuristic feel while representing an essential human element. 
    %ul.tags
      %li Visual Identity
      %li Packaging Design
      %li Illustration
      %li Visual Design
    %h2 
      %a{:href => "http://www.sols.co", :target => "_blank"} www.sols.co