.item
  .row
    .col-md-12   
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-logo-full.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-s-1.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-s-3.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-s-6.jpg"}
      %img.load-img.img-responsive.space.border{:src => "/images/sols/sols-s-2.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-s-5.jpg"}

  .row
    .col-md-12    
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-122.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-8.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-10.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-9 copy.jpg"} 
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-3.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/sols/sols-2.jpg"} 

.container
  .item-info 
    %h1
      SOLS
    %ul.tags
      %li Visual Identity
      %li Packaging Design
      %li Illustration
      %li Visual Design
    .dash
    %h2 
      %a{:href => "http://www.sols.co", :target => "_blank"} www.sols.co
