.full-width-block
  .row.bg.sols
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/sols/sols-logo.png"} 

.container.info
  %h1 Sols
  %a.btn-more{:href => "/sols", :target => "_blank"} 
    More 
    %span.fa.fa-angle-right