.item
  .row
    .col-md-12    
      %img.img-responsive.no-border.extra-space{:src => "/images/sols/sols-122.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/sols/sols-8.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/sols/sols-10.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/sols/sols-9 copy.jpg"} 
      %img.img-responsive.no-border.extra-space{:src => "/images/sols/sols-3.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/sols/sols-2.jpg"} 
  .item-info 
    %h1
      SOLS
    %p
      SOLS custom 3D-printed orthotics are a second skin. Completely unique to each wearer, they transcend the function of insoles and become a part of one's feet. The abstracted double helix logo concept echoes SOLS innovative made-to-measure approach, suggesting that SOLS are an extension of the wearer's own unique genetic makeup. The symbol evokes a scientific and futuristic feel while representing an essential human element. 
    %p.list
      Branding
      %br 
      Packaging Design
      %br 
      Illustration
      %br 
      %a{:href => "/solssite"}
        Website Design &raquo;
    .dash
    %h2 
      %a{:href => "http://www.sols.co", :target => "_blank"} www.sols.co


.pagination
  %a.previous{:href => "/vanessaliannesite"}
    %h3 ← Previous 
  %a.next{:href => "/toastgame"}
    %h3 Next →