.row
  .col-md-12    
    %img.load-img.img-responsive{:src => "/images/sols/sols-8.jpg"}
.row
  .col-md-12  
    %img.load-img.img-responsive{:src => "/images/sols/sols-10.jpg"}
.container
  .info
    %h1 Sols
    %a.btn.more{:href => "/sols#more", :target => "_blank"} 
      More 
      %span.fa.fa-angle-right
    
