.item
  .row
    .col-md-12   
      %img.img-responsive.extra-space.no-border{:src => "/images/sols-logo-full.jpg"}
      %img.img-responsive.extra-space{:src => "/images/sols-s-1.jpg"}
      %img.img-responsive.extra-space{:src => "/images/sols-s-3.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/sols-s-6.jpg"}
      %img.img-responsive.extra-space{:src => "/images/sols-s-2.jpg"}
      %img.img-responsive.extra-space.no-border{:src => "/images/sols-s-5.jpg"}
  .item-info 
    %h1
      SOLS
    %p.list
      %a{:href => "/sols"}
        Branding &raquo;
      %br
      Website Design
      %br 
      Packaging Design
      %br 
      Illustration
    .dash
    %h2 
      %a{:href => "http://www.sols.co", :target => "_blank"} www.sols.co


.pagination
  %a.previous{:href => "/vanessaliannesite"}
    %h3 ← Previous 
  %a.next{:href => "/chloeisabel"}
    %h3 Next →