.row
  .col-md-12    
    %img.load-img.img-responsive{:src => "/images/sols/sols-8.jpg"}
.row
  .col-md-12  
    %img.load-img.img-responsive{:src => "/images/sols/sols-10.jpg"}
.container
  .info
    %h1 Sols
