.full-width-block
  .row.bg.sols5
    .col-md-12 
      %img.load-img.img-responsive{:src => "/images/sols/sols-logo6.png"}  
  .row.bg.sols
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/sols/sols-logo.png"} 
  .row.bg.sols3
    .col-md-6 
      %img.load-img.img-responsive{:src => "/images/sols/sols-logo3.jpg"} 
    .col-md-6 
      %img.load-img.img-responsive{:src => "/images/sols/sols-logo4.jpg"} 
  .row.bg.sols2
    .col-md-12 
      %p 

.container
  .info
    %h1 Sols
    %p 
      SOLS custom 3D-printed orthotics are a second skin. Completely unique to each wearer, they transcend the function of insoles and become a part of one's feet. The abstracted double helix logo concept echoes SOLS innovative made-to-measure approach, suggesting that SOLS are an extension of the wearer's own unique genetic makeup. The symbol evokes a scientific and futuristic feel while representing an essential human element. 
    %a.btn.more{:href => "/sols#more", :target => "_blank"} 
      More 
      %span.fa.fa-angle-right
    