.item
  .row
    .col-md-12    
      %img.extra-space.img-responsive.no-border{:src => "/images/staerk-furn-1.jpg"} 
      %img.extra-space.img-responsive.no-border{:src => "/images/staerk-furn-2.jpg"} 
  .item-info 
    %h1
      STÆRK
    %p.list
      3D Rendering 
      %br 
      Technical Illustration 
    .dash
    %h2 
      %a{:href => "http://www.staerk.com/", :target => "_blank"}www.staerk.com
