.item
  .row
    .col-md-12    
      %img.space.img-responsive.no-border{:src => "/images/staerk-furn-1.jpg"} 
      %img.space.img-responsive.no-border{:src => "/images/staerk-furn-2.jpg"} 
  .info 
    %h1
      STÆRK
    %ul.tags
      3D Rendering 
      %br 
      Technical Illustration 
    %h2 
      %a{:href => "http://www.staerk.com/", :target => "_blank"}www.staerk.com