.item
  .row.bg.starfox
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/starfox/vlabs-logo2.png"} 

  .row
    .col-md-12   
      %img.load-img.img-responsive.space.border.shadow{:src => "/images/starfox/vlabs-1.jpg"} 
      %img.load-img.img-responsive.space.border.shadow{:src => "/images/starfox/vlabs-2.jpg"} 

.container
  .item-info 
    %h1
      Starfox
    %p
      Made for my bebs.

    %ul.tags
      %li 3D Modeling
      %li Digital Pattern & Toy Design
      %li Sewing