.item
  .row
    .col-md-12   
      %img.load-img.img-responsive.space.border{:src => "/images/starfox/fox1.jpg"} 
      %img.load-img.img-responsive.space.border{:src => "/images/starfox/fox2.jpg"} 
      %img.load-img.img-responsive.space.border{:src => "/images/starfox/fox4.jpg"} 

.container
  .item-info 
    %h1
      Starfox
    %p
      Made for my bebs.

    %ul.tags
      %li 3D Modeling
      %li Digital Pattern & Toy Design
      %li Sewing