.container.project-body
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/starfox/fox1.jpg"} 
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/starfox/fox2.jpg"} 
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/starfox/fox3.jpg"} 
      
  .info 
    %h1
      Starfox
    %p
      I made this creature out of wool felt as a birthday gift for Ryan Rogalski. Complete with hand-sewn freckles and blanket stitching details.

    %ul.tags
      %li 3D Modeling
      %li Digital Pattern & Toy Design
      %li Sewing