.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/stray/hiking-1.jpg"}
      %img.full-width{:src => "/images/stray/hiking-02.jpg"} 
      %img.full-width{:src => "/images/stray/hiking-03.jpg"} 
      %img.full-width{:src => "/images/stray/hiking-04.jpg"} 
  %h1 Green River
  .dash
  %h2 Green River Hiking Gear, Branding & Catalog Design