.row
  .col-md-12
    %img.load-img.img-responsive.space{:src => "/images/sweater/sweater1.jpg"} 
.row
  .col-md-12
    %img.load-img.img-responsive.space{:src => "/images/sweater/sweater3.jpg"}  
.row
  .col-md-12
    %img.load-img.img-responsive.space{:src => "/images/sweater/sweater2.jpg"} 
