.item.logos

  %h4 Logos

  .row
    %h1 The Cosine Group
    .col-md-12.bg.cosine  
      %img.load-img.img-responsive{:src => "/images/tcg/tcg-1.png"}
    .col-md-6.bg.cosine3
      %img.load-img.img-responsive{:src => "/images/tcg/tcg-3.png"}
    .col-md-6.bg.cosine4
      %img.load-img.img-responsive{:src => "/images/tcg/tcg-4.png"}
    .col-md-12.bg.cosine2.bottom-space
      %img.load-img.img-responsive{:src => "/images/tcg/tcg-2.png"}

  .dash2

  .row.bg.mountpenguin
    .col-md-12    
      %img.load-img.img-responsive.bottom-space{:src => "/images/tcg/mountp.png"}
  .dash2

  .row
    %h1 MonkeyBadger
    .col-md-12.bg.monkeybadger   
      %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"}
        %img.load-img.img-responsive{:src => "/images/tcg/monkeybadger.png"}
    .col-md-12.bg.monkeybadger2
      %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"} 
        %img.load-img.img-responsive{:src => "/images/tcg/mb-guys.png"}
    .col-md-12.bg.monkeybadger   
      %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"}
        %img.load-img.img-responsive.bottom-space{:src => "/images/tcg/mb-logo.png"}
  .dash2

  .row.bg.infiniteloop1
    .col-md-12   
      %a{:href => "/infiniteloop", :target => "_blank"}
        %img.load-img.img-responsive{:src => "/images/infinite-loop/infinite-logo1.png"} 

  .dash2

  .row.bg.sols
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/sols/sols-logo.png"} 

  .dash2


  .row.bg.vestorlabs
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo2.png"} 
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo3.png"} 

  .dash2

  %h4 Illustration

.item
  .row
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/toast/toast-4.jpg"}  
      %img.load-img.img-responsive{:src => "/images/toast/toast-2.jpg"} 
      %img.load-img.img-responsive{:src => "/images/toast/toast-1.jpg"}
      %img.load-img.img-responsive{:src => "/images/toast/toast-3.jpg"} 
      %img.load-img.img-responsive{:src => "/images/toast/toast-5.jpg"} 
  .item-info 
    %h1
      Mobile Game
    %ul.tags
      %li Character Design
      %li Illustration
    .dash
    %h2 
      %a{:href => "http://www.levinriegner.com", :target => "_blank"}www.levinriegner.com

.dash2

.item
  .row
    .col-md-12
      %img.load-img.img-responsive.space{:src => "/images/mrux/tools.jpg"} 
      %img.load-img.img-responsive.space{:src => "/images/mrux/monkey.jpg"} 
      %img.load-img.img-responsive.space{:src => "/images/mrux/puzzle.jpg"} 
      %img.load-img.img-responsive.space{:src => "/images/mrux/brain.png"}
      %img.load-img.img-responsive.space{:src => "/images/mrux/prism.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/mrux/iterate.png"}
      %img.load-img.img-responsive.space{:src => "/images/mrux/ipad_cut.png"}
      %img.load-img.img-responsive.space{:src => "/images/mrux/monolith-monkey.jpg"}  