
.item
  .row.bg.cosine
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/tcg/tcg-1.png"}

  .row.bg.mountpenguin
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/tcg/mountp.png"}

  .row.bg.monkeybadger
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/tcg/monkeybadger.png"}
