.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/threads/threads-01.jpg"}
      %img.img-responsive{:src => "/images/threads/threads-02.jpg"} 
      %img.img-responsive{:src => "/images/threads/threads-03.jpg"} 
      %img.img-responsive{:src => "/images/threads/threads-04.jpg"} 
      %img.img-responsive{:src => "/images/threads/threads-05.jpg"} 
  .item-info 
    %h1
      Thread Print
    %p I created this textural wabi-sabi print by sewing threads through velloum and screenprinted the design onto handmade envelope-back cotton pillowcases.
    %p.list 
      Print Design
      %br
      Experimental Screenprinting


.pagination
  %a.previous{:href => "/zana"}
    %h3 ← Previous 
  %a.next{:href => "/mkpillow"}
    %h3 Next →