.row
  .col-md-12    
    %img.load-img.img-responsive{:src => "/images/toast/toast-4.jpg"} 
.row
  .col-md-12     
    %img.load-img.img-responsive{:src => "/images/toast/toast-2.jpg"} 
.row
  .col-md-12    
    %img.load-img.img-responsive{:src => "/images/toast/toast-1.jpg"}
.row
  .col-md-12    
    %img.load-img.img-responsive{:src => "/images/toast/toast-3.jpg"} 
.row
  .col-md-12    
    %img.load-img.img-responsive{:src => "/images/toast/toast-5.jpg"} 

.info 
  %h1
    Mobile Game
  %ul.tags
    %li Character Design
    %li Illustration
  %h2 
    %a{:href => "http://www.levinriegner.com", :target => "_blank"}www.levinriegner.com
