.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/toast/toast-4.jpg"}  
      %img.img-responsive{:src => "/images/toast/toast-2.jpg"} 
      %img.img-responsive{:src => "/images/toast/toast-1.jpg"}
      %img.img-responsive{:src => "/images/toast/toast-3.jpg"} 
      %img.img-responsive{:src => "/images/toast/toast-5.jpg"} 
  .item-info 
    %h1
      Mobile Game
    %p.list
      Character Design
      %br 
      Illustration
    .dash
    %h2 
      %a{:href => "http://www.levinriegner.com", :target => "_blank"}www.levinriegner.com

  .pagination
    %a.previous{:href => "/sols"}
      %h3 ← Previous 
    %a.next{:href => "/chloeisabel"}
      %h3 Next →