.item
  .row
    .col-md-12    
      %img.load-img.img-responsive.extra-space.no-border{:src => "/images/torii/torii-2.jpg"}
      %img.load-img.img-responsive.extra-space.no-border{:src => "/images/torii/torii-1.jpg"} 
      %img.load-img.img-responsive.extra-space.no-border{:src => "/images/torii/torii-ipad.jpg"} 
  .item-info 
    %h1
      Torii by Vestorly
    %p
      Torii is authorization service library for Ember.js applications. An open source project by Vestorly, I designed the homepage to reflect the aesthetic of Vestorly's landing page, while giving its own unique identity. The name and logo concept are based on the Japanese torii, a traditional gate most commonly found at the entrance of a Shinto shrine, where it symbolically marks the transition from the profane to the sacred.

    %p.list
      Branding/Logo Design
      %br
      UI/UX Design
    .dash
    %h2 
      %a{:href => "http://vestorly.github.io/torii/", :target => "_blank"} Torii on Github


.pagination
  %a.previous{:href => "/cubedeco"}
    %h3 â† Previous 
  %a.next{:href => "/vanessaliannesite"}
    %h3 Next â†’