.row
  .col-md-12.bg.torii 
    %img.load-img.img-responsive{:src => "/images/torii/torii-logo.png"} 

.item-info 
  %h1
    Torii by Vestorly
  %p
    Torii is authorization service library for Ember.js applications. An open source project by Vestorly, the name and logo concept are based on the Japanese torii, a traditional gate most commonly found at the entrance of a Shinto shrine, where it symbolically marks the transition from the profane to the sacred.

%a.btn-more{:href => "/vestorly", :target => "_blank"} 
  More 
  %span.fa.fa-angle-right