
.row
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/type/alexa-wright-grow.jpg"} 
.row
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/type/alexa-wright-feel.jpg"} 
.row
  .col-md-12
    %img.load-img.img-responsive{:src => "/images/awright/type/alexa-wright-savor.jpg"}  