.item
  .row
    .col-md-12  
      %img.img-responsive.space.no-border{:src => "/images/aw-type-1.jpg"}   
      %img.img-responsive.space{:src => "/images/aw-type-2.jpg"} 
      %img.img-responsive.space{:src => "/images/aw-type-3.jpg"} 
      %img.img-responsive.space.no-border{:src => "/images/aw-type-5.jpg"} 
  .item-info 
    %p.list
      Typography

.pagination
  %a.previous{:href => "/wanggrid"}
    %h3 ← Previous 
  %a.next{:href => "/infiniteloop"}
    %h3 Next →