
.container.project-body  
  .project-body
    .row
      .col-md-12   
        %img.load-img.img-responsive{:src => "/images/vlj/vanessa-lianne-vl.jpg"}
    .row
      .col-md-12   
        %img.load-img.img-responsive.shadow{:src => "/images/vlj/vlsite-1.jpg"}
    .row
      .col-md-12   
        %img.load-img.img-responsive.shadow{:src => "/images/vlj/vlsite-5.jpg"}
    .row
      .col-md-12   
        %img.load-img.img-responsive{:src => "/images/vlj/vlj-tablet.jpg"}
    .row
      .col-md-12   
        %img.load-img.img-responsive.shadow{:src => "/images/vlj/vlsite-4.jpg"}
    .row
      .col-md-12   
        %img.load-img.img-responsive.shadow{:src => "/images/vlj/vlsite-2.jpg"}
    .row
      .col-md-12   
        %img.load-img.img-responsive.shadow.space{:src => "/images/vlj/vlsite-7.jpg"}

.dash 

.info 
  %h1
    Vanessa Lianne Jewelry
  %ul.tags
    %li Lookbook Design
    %li Visual Design
    %li Shopify
    %li Front-end development
  %h2 
    %a{:href => "http://www.vanessalianne.com", :target => "_blank"} www.vanessalianne.com