.item
  .row
    .col-md-12   
      %img.img-responsive.no-border.extra-space{:src => "/images/vanessa-lianne-vl.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/vlsite-1.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/vlsite-5.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/vlj-tablet.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/vlsite-4.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/vlsite-2.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/vlj-press.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/vlsite-7.jpg"}

  .item-info 
    %h1
      Vanessa Lianne Jewelry
    %p 
      I worked with designer Vanessa Lianne to elevate the design of her website to the elegant and minimal aesthetic of her jewelry. I built this e-commerce site using Shopify's Liquid templating language. 
    %p.list
      Web Design
      %br
      Web Development
    .dash
    %h2 
      %a{:href => "http://vanessa-lianne-jewelry.myshopify.com", :target => "_blank"} www.vanessalianne.com


.pagination
  %a.previous{:href => "/torii"}
    %h3 ← Previous 
  %a.next{:href => "/sols"}
    %h3 Next →