.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/vl-cards.jpg"} 
  .item-info 
    %h1
      Vanessa Lianne Jewelry
    %p More images coming soon.
    %p.list
      Press Kit & Line Sheets
      %br
      Business Cards & Packaging Design
      %br 
      Lookbook Design 
      %br 
      %a{:href => "/vanessaliannesite"}
        Website Design & Front-End Development &raquo;
    .dash
    %h2 
      %a{:href => "http://vanessa-lianne-jewelry.myshopify.com", :target => "_blank"} www.vanessalianne.com