.project-body
  .row
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/vl-cards.jpg"} 
  .info 
    %h1
      Vanessa Lianne Jewelry
    %p More images coming soon.
    %ul.tags
      %li Press Kit & Line Sheets
      %li Business Cards & Packaging Design
      %li Lookbook Design 
      %br 
      %a{:href => "/vanessaliannesite"}
        Website Design & Front-End Development &raquo;
    %h2 
      %a{:href => "http://vanessa-lianne-jewelry.myshopify.com", :target => "_blank"} www.vanessalianne.com