.item
  .row
    .col-md-12   
      %img.load-img.img-responsive.space{:src => "/images/vlj/vanessa-lianne-vl.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/vlj/vlsite-1.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/vlj/vlsite-5.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/vlj/vlj-tablet.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/vlj/vlsite-4.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/vlj/vlsite-2.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/vlj/vlj-press.jpg"}
      %img.load-img.img-responsive.space{:src => "/images/vlj/vlsite-7.jpg"}

  .item-info 
    %h1
      Vanessa Lianne Jewelry
    %p 
      I worked with designer Vanessa Lianne to elevate the design of her brand to the elegant and minimal aesthetic of her jewelry. I redesigned her website, press kit, lookbook, brand collateral, and sales materials. 
    %p.list
      Visual Design
      %br
      Front-End Development
      %br
      Responsive Design
      %br
      Print Design
    .dash
    %h2 
      %a{:href => "http://vanessa-lianne-jewelry.myshopify.com", :target => "_blank"} www.vanessalianne.com


.pagination
  %a.previous{:href => "/torii"}
    %h3 ← Previous 
  %a.next{:href => "/sols"}
    %h3 Next →