.full-width-block
  .row
    .col-md-12.bg.vestorlabs
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo2.png"}  

.container.project-body
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/vestorly/vestorlabs1.jpg"} 
  .row
    .col-md-12  
      %img.load-img.img-responsive.border.shadow{:src => "/images/vestorly/vlabs-2.jpg"}

.full-width-block
  .row.bg.vestorlabs2
    .col-md-12

.container.project-body
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/vestorly/vestorlabs3.jpg"} 
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/vestorly/vlabs-1.jpg"} 

  .info 
    %h1
      VestorLabs
    %p
      VestorLabs is a technology company that allows companies to easily automate content for their digital communications. I created a unique visual identity for VestorLabs and designed a fresh responsive site with bespoke illustrations, devices, and animations. The front-end was built by the talented 
      %a{:href => "http://www.infiniteloopco.com", :target => "_blank"}  
        Infinite Loop Co. 

    %ul.tags
      %li Visual Identity + Logo
      %li Visual Design
      %li Responsive Design
      %li Illustration
    %h2 
      %a{:href => "http://www.vestorly.com", :target => "_blank"} www.vestorly.com

.dash

.full-width-block
  .row
    .col-md-12.bg.vestorly
      %img.load-img.img-responsive{:src => "/images/vestorly/vestorly-logo.png"}  

.container.project-body
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/vestorly/vestorly3.jpg"} 
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/vestorly/vestorly4.jpg"} 
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/vestorly/vestorly7.jpg"} 
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/vestorly/vestorly6.jpg"} 
  .row
    .col-md-12   
      %img.load-img.img-responsive.border.shadow{:src => "/images/vestorly/vestorly5.jpg"} 
  .row
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/vestorly/vestorly8.jpg"} 


  .info 
    %h1
      Vestorly


.dash

.full-width-block
  .row
    .col-md-12.bg.torii 
      %img.load-img.img-responsive{:src => "/images/torii/torii-logo.png"} 
    .col-md-12.bg.torii2
      %img.load-img.img-responsive{:src => "/images/torii/torii-logo2.png"} 

.container.project-body
  .row
    .col-md-12    
      %img.load-img.img-responsive{:src => "/images/vestorly/torii.jpg"} 
  .info 
    %h1
      Torii by Vestorly
    %p
      Torii is authorization service library for Ember.js applications. An open source project by Vestorly, I designed the homepage to reflect the aesthetic of Vestorly's landing page, while giving its own unique identity. The name and logo concept are based on the Japanese torii, a traditional gate most commonly found at the entrance of a Shinto shrine, where it symbolically marks the transition from the profane to the sacred.

    %ul.tags
      %li Visual Identity
      %li Digital Product Design
    %h2 
      %a{:href => "http://vestorly.github.io/torii/", :target => "_blank"} Torii on Github


.pagination
  .inner
    %a{:href => "/logos"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/awright"} 
      .next
        %span.fa.fa-angle-left 

= haml :work