.item
  .row
    .col-md-12   
      %img.img-responsive.extra-space.no-border{:src => "/images/vestorly/vestorly-logo-main.png"} 
      %img.img-responsive.extra-space{:src => "/images/vestorly/vestorly-1.jpg"} 
      %img.img-responsive.extra-space{:src => "/images/vestorly/vestorly-2.jpg"} 
  .item-info 
    %h1
      VESTORLY
    %p
      Vestorly is a technology company solving the content marketing problem for financial services professionals, and the enterprises that support them. I designed a fresh responsive site for Vestorly with bespoke illustrations, devices, and animations. The front-end was built by the talented 
      %a{:href => "http://www.infiniteloopco.com", :target => "_blank"}  
        Infinite Loop Co. 
      Visit
      %a{:href => "http://www.vestorly.com", :target => "_blank"}  
        Vestorly.com
      to see the animations in their full, delightful glory.

    %p.list
      UI/UX Design
      %br
      Illustration
    .dash
    %h2 
      %a{:href => "http://www.vestorly.com", :target => "_blank"} www.vestorly.com


.pagination
  %a.previous{:href => "/wanggrid"}
    %h3 ← Previous 
  %a.next{:href => "/chloeisabel"}
    %h3 Next →