.full-width-block
  .row.bg.vestorlabs
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo2.png"} 
  .row
    .col-md-6.bg.vestorlabs1   
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo3.png"}
    .col-md-6.bg.vestorlabs3
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo3.png"} 

.container
  .info
    %h1 VestorLabs
    %p VestorLabs is a technology company that allows companies to easily automate content for their digital communications. 
    %a.btn.more{:href => "/vestorly#more", :target => "_blank"} 
      More 
      %span.fa.fa-angle-right