.full-width-block
  .row.bg.vestorlabs
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo2.png"} 
  .row.bg.vestorlabs
    .col-md-12   
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo3.png"} 

.container
  .info
    %h1 VestorLabs
    %a.btn.more{:href => "/vestorly", :target => "_blank"} 
      More 
      %span.fa.fa-angle-right