/ .item
/   .row.bg.vestorly
/     .col-md-12   
/       %img.load-img.img-responsive{:src => "/images/vestorly/vestorly-logo-main.png"} 
/ .item
/   .row
/     .col-md-12   
/       %img.load-img.img-responsive.shadow.space.border{:src => "/images/vestorly/vestorly-1.jpg"} 
/       %img.load-img.img-responsive.shadow.space.border{:src => "/images/vestorly/vestorly-2.jpg"} 

.item
  .row
    .col-md-12.bg.vestorlabs
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo2.png"} 
    .col-md-12.bg.vestorlabs.bottom-space
      %img.load-img.img-responsive{:src => "/images/vestorly/vlabs-logo3.png"} 

  .row
    .col-md-12   
      %img.load-img.img-responsive.space.border.shadow{:src => "/images/vestorly/vlabs-1.jpg"} 
      %img.load-img.img-responsive.space.border.shadow{:src => "/images/vestorly/vlabs-2.jpg"} 

.container
  .item-info 
    %h1
      VESTORLY
    %p
      Vestorly is a technology company solving the content marketing problem for financial services professionals, and the enterprises that support them. I designed a fresh responsive site for Vestorly with bespoke illustrations, devices, and animations. The front-end was built by the talented 
      %a{:href => "http://www.infiniteloopco.com", :target => "_blank"}  
        Infinite Loop Co. 
      Visit
      %a{:href => "http://www.vestorly.com", :target => "_blank"}  
        Vestorly.com
      to see the animations in their full, delightful glory.

    %ul.tags
      %li Visual Design
      %li Responsive Design
      %li Illustration
    %h2 
      %a{:href => "http://www.vestorly.com", :target => "_blank"} www.vestorly.com

.dash2

.item
  .row
    .col-md-12.bg.torii 
      %img.load-img.img-responsive{:src => "/images/torii/torii-logo.png"} 
    .col-md-12.bg.torii2.bottom-space
      %img.load-img.img-responsive{:src => "/images/torii/torii-logo2.png"} 
  .row
    .col-md-12    
      %img.load-img.img-responsive.space{:src => "/images/torii/torii-ipad.jpg"} 
  .item-info 
    %h1
      Torii by Vestorly
    %p
      Torii is authorization service library for Ember.js applications. An open source project by Vestorly, I designed the homepage to reflect the aesthetic of Vestorly's landing page, while giving its own unique identity. The name and logo concept are based on the Japanese torii, a traditional gate most commonly found at the entrance of a Shinto shrine, where it symbolically marks the transition from the profane to the sacred.

    %ul.tags
      %li Visual Identity
      %li Digital Product Design
    %h2 
      %a{:href => "http://vestorly.github.io/torii/", :target => "_blank"} Torii on Github