.row
  .col-md-12    
    %img.load-img.img-responsive{:src => "/images/vestorly/funnel.jpg"}

.container
  .info
    %h1 Vestorly
    %a.btn.more{:href => "/vestorly", :target => "_blank"} 
      More 
      %span.fa.fa-angle-right