.container
  .item
    .row
      .col-md-4   
        %img.load-img.border{:src => "/images/wang/wang_01.jpg"} 
      .col-md-4 
        %img.load-img.border{:src => "/images/wang/wang_03.jpg"}
      .col-md-4  
        %img.load-img.border{:src => "/images/wang/wang_02.jpg"} 
      .col-md-4 
        %img.load-img.border{:src => "/images/wang/wang_d01.jpg"} 
      .col-md-4 
        %img.load-img.border{:src => "/images/wang/wang_d03.jpg"} 
      .col-md-4 
        %img.load-img.border{:src => "/images/wang/wang_d04.jpg"} 

  .item-info 
    %h1
      T by Alexander Wang
    %p 
      This grid rope design was screenprinted in rubber as the primary print for the T by Alexander Wang Resort 2014 Collection.
    %ul.tags
      %li Surface/Print Design
    %h2 
      %a{:href => "http://www.style.com/fashionshows/review/2014RST-TAWANG", :target => "_blank"}View on Style.com &raquo;


  .pagination
    %a.previous{:href => "/allpaws"}
      %h3 ← Previous 
    %a.next{:href => "/vestorly"}
      %h3 Next →