
.projects
  .row
    %a.project-tile{:href => "/allpaws"}
      %h4 AllPaws
  .row
    %a.project-tile{:href => "/vanessaliannesite"}
      %h4 Vanessa Lianne Jewelry
  .row
    %a.project-tile{:href => "/solssite"}
      %h4 SOLS
  .row
    %a.project-tile{:href => "/chloeisabel"}
      %h4 Chloe + Isabel