.item
  .row
    .col-md-12    
      %img.img-responsive{:src => "/images/wetlook-0.jpg"} 
      %img.img-responsive{:src => "/images/wetlook-2.jpg"} 
      %img.img-responsive{:src => "/images/wetlook-1.jpg"} 
      %img.img-responsive{:src => "/images/wetlook-3.jpg"} 
      %img.img-responsive{:src => "/images/wetlook-4.jpg"} 
      %img.img-responsive{:src => "/images/wetlook-5.jpg"} 
      %img.img-responsive{:src => "/images/wetlook-6.jpg"} 
  .item-info 
    %h1
      Wetlook
    %p
      Swimwear Collection

.pagination
  %a.previous{:href => "/boucher"}
    %h3 ← Previous 
  %a.next{:href => "/happa"}
    %h3 Next →