.container-fluid
  .project-tile-wrap.awright
    %a{:href => "/awright"}
      .project-tile
        %h1 Alexa Wright

  .project-tile-wrap.vestorly
    %a{:href => "/vestorly"}
      .project-tile
        %h1 Vestorly

  .project-tile-wrap.logos
    %a{:href => "/logos"}
      .project-tile
        %h1 Logos

  .project-tile-wrap.illustration
    %a{:href => "/illustration"}
      .project-tile
        %h1 Illustration


  .project-tile-wrap.showscore
    %a{:href => "/showscore"}
      .project-tile
        %h1 Show-Score

  .project-tile-wrap.manus
    %a{:href => "/manusbio"}
      .project-tile
        %h1 Manus Bio

  .project-tile-wrap.fox
    %a{:href => "/starfox"}
      .project-tile
        %h1 Starfox

  .project-tile-wrap.sols
    %a{:href => "/sols"}
      .project-tile
        %h1 SOLS

  .project-tile-wrap.nikon
    %a{:href => "/nikon"}
      .project-tile
        %h1 Nikon

  .project-tile-wrap.bitcoin
    %a{:href => "/bitcoin"}
      .project-tile
        %h1 Bitcoin

  .project-tile-wrap.allpaws
    %a{:href => "/allpaws"}
      .project-tile
        %h1 AllPaws
            
  .project-tile-wrap.wang
    %a{:href => "/wang"}
      .project-tile  
        %h1 Alexander Wang  

  .project-tile-wrap.chloe
    %a{:href => "/chloeisabel"}
      .project-tile
        %h1 Chloe + Isabel     

  .project-tile-wrap.infiniteloop
    %a{:href => "/infiniteloop"}
      .project-tile
        %h1 Infinite Loop   
      
  .project-tile-wrap.gifgasm
    %a{:href => "/gifgasm"}
      .project-tile  
        %h1 Gifgasm  