.item
  .row
    .col-md-12    
      %img.img-responsive.no-border{:src => "/images/zana-logo.jpg"} 
      %img.img-responsive.no-border{:src => "/images/zana-tape-box.jpg"} 
      %img.img-responsive.no-border{:src => "/images/zana-tape.jpg"} 
  .row
    .col-sm-12 
      %img.img-responsive.extra-space{:src => "/images/zanasite.jpg"} 
      %img.img-responsive.extra-space.no-border{:src => "/images/sizing-figures.png"} 

  .item-info 
    %h1
      Zana Bayne Leather
    %p.list
      Packaging Design 
      %br 
      Illustration 
    .dash
    %h2 
      %a{:href => "http://www.zanabayne.com", :target => "_blank"}www.zanabayne.com

.pagination
  %a.previous{:href => "/dotbk"}
    %h3 ← Previous 
  %a.next{:href => "/threadpillows"}
    %h3 Next →