.item  
  %img.sizechartmain{:src => "/images/sizing-figures.png"} 
  %img.sizechart{:src => "/images/zanasite.jpg"} 
  %h1 
    %a{:href => "http://www.zanabayne.com", :target => "_blank"} Zana Bayne Leather
  .dash
  %h2 Size Chart Figures