*
  box-sizing: border-box 
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

body
  background: $white
  +font
  border-top: 7px solid $black


#load 
  min-height: 500px
  margin-top: 40px 

body .content
  background: none
 
#about 
  display: none
   
.page-wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -90px
  // border-top: 3px solid black

.push 
  height: 90px

a
  text-decoration: none
  color: black


@media (max-width: $screen-sm)
  #load
    margin-top: 15px