
header
  .container
    padding: 54px 0 44px 0
    text-align: center
    width: 100%
    border-bottom: 1px solid $ltgray
  img.header
    margin: auto
    width: 160px
    &:hover
      +transition(.3s)
      +scale(.98)


.name
  opacity: 0.6
  margin-bottom: 30px

#about
  border-bottom: 1px solid $ltgray
  margin-bottom: 50px
  padding: 100px 0 100px
  background: rgb(17, 17, 17)

.about-blurb
  a 
    color: #8B8B8B
  p
    font-size: 28px
    color: #C5C5C5
    line-height: 1.8em
    font-family: "avenir", helvetica, arial, sans-serif
  h1 
    font-size: 28px
    letter-spacing: .08em
    color: #777777

.nav
  margin-top: 30px
  li
    display: inline-block
    a
      text-transform: uppercase
      font-weight: 500
      letter-spacing: 1.6px
      font-size: 15px
      color: #232323
      text-decoration: none
    &.active a 
      color: $black
      font-weight: 600


@media (max-width: 670px)

  .about-blurb p
    font-size: 22px
  .item p
    font-size: 18px

@media (max-width: $screen-xs-max)
  #about
    padding: 60px 40px
  .hide-mobile 
    display: none
  .about-blurb
    padding: 5px 5px 20px 5px
    a.social
      font-size: 25px
  header
    margin-top: 20px
    img.header
      margin: 0 auto
      padding: 15px
  .nav
    margin-bottom: 17px 
    margin-top: 7px
    padding: 0
    li
      padding: 10px


  .name
    width: 200px
    