.load-img
  +transition(all .5s)
  +opacity(0)
  &.loaded
    +opacity(1)

.video-frame
  padding: 57px 125px 57px 142px
  background-image: url(/images/ipad-frame.png)
  background-repeat: none
  background-size: 100%
  display: inline-block
  height: 680px
  margin: auto

.project-tile-wrap 
  +make-xs-column(12)
  +make-md-column(6)
  +make-lg-column(6)
  cursor: pointer
  display: block
  height: 470px
  padding: 0
  &.manus
    background: url('/images/tnails/manus.jpg') center no-repeat
    background-size: cover

  &.awright
    background: url('/images/tnails/awright.gif') center no-repeat
    background-size: cover

  &.allpaws
    background: url('/images/tnails/allpaws.jpg') center no-repeat
    background-size: cover

  &.bitcoin
    background: url('/images/tnails/bitcoin.jpg') center no-repeat
    background-size: cover

  &.chloe
    background: url('/images/tnails/chloe.jpg') center no-repeat
    background-size: cover

  &.cosine
    background: url('/images/tnails/cosine.jpg') center no-repeat
    background-size: cover

  &.fox
    background: url('/images/tnails/fox.jpg') center no-repeat
    background-size: cover

  &.gifgasm
    background: url('/images/gifgasm/gifgasm.gif') center no-repeat
    background-size: cover

  &.infiniteloop
    background: url('/images/tnails/infiniteloop.jpg') center no-repeat
    background-size: cover

  &.sols
    background: url('/images/tnails/sols.jpg') center no-repeat
    background-size: cover

  &.vestorly
    background: url('/images/tnails/vestorlabs.jpg') center no-repeat
    background-size: cover

  &.wang
    background: url('/images/tnails/wang.jpg') center no-repeat
    background-size: cover

  a h1
    padding-top: 200px
    text-align: center
    font-size: 43px
    color: $white
    letter-spacing: .09em
    cursor: pointer
    &:hover
      +transition(.4s)

.project-tile
  height: 100%
  cursor: pointer

.foot
  padding: 150px 0 100px
  text-align: center
  margin: auto
  h1
    font-size: 30px
    text-align: center
    text-transform: none
    letter-spacing: .02em
  .btn
    background: #414249
    padding: 25px
    border-radius: 2px
    display: block
    width: 300px
    margin: auto
    letter-spacing: 1px
    font-weight: 600
    margin-top: 30px
    cursor: pointer
    color: white
    text-transform: uppercase
    &:hover
      background: black
      +transition(.4s)
  p
    color: #8E8E8E
    text-transform: uppercase
    letter-spacing: .1em
    font-weight: 500
    font-size: 14px
    text-align: center
    margin: auto
    line-height: 2.2em

.pagination 
  clear: both
  margin-top: 43px
  margin: 43px 0 0 0
  border-top: 1px solid $ltgray
  padding: 20px 0 0 0
  h3
    display: inline-block
    font-size: 17px
    color: #818181
    letter-spacing: .04em
    font-weight: 600
    text-transform: uppercase
  .previous
    float: left
  .next
    float: right

.item
  text-align: center
  margin: auto
  font-size: 15px
  img
    margin: 20px auto 30px
    max-width: 100%
  .shadow
    box-shadow: 0px 10px 30px #C2C2C2

.item-info
  margin-top: 80px
  
img.border
  border: 1px solid $ltgray

img.space
  margin-bottom: 130px

.dash
  display: block 
  position: relative
  width: 80px 
  border-top: 1px solid #ddd 
  margin: 50px auto !important

.dash2
  display: block 
  position: relative
  width: 80px 
  border-top: 1px solid #ddd 
  margin: 0 auto !important
  text-align: center
  padding-top: 200px

.bg
  margin-bottom: 100px
  padding: 100px 0
  img
    margin: 110px 0

  &.allpaws
    background: url("/images/allpaws/allpaws-bg.jpg")
    background-size: cover

  &.awright
    background: url("/images/awright/gluten.jpg")
    height: 550px
    background-size: cover
    margin-bottom: 100px

  &.bitcoin
    background: #0078b5

  &.cosine
    background: #2e374c

  &.vestorlabs
    background: #323a47
  &.vestorly
    background: #414c6d
    margin-bottom: 100px

  &.manus
    background: rgb(231, 243, 249)

  &.mountpenguin
    background: url("/images/tcg/mp-bg.jpg")
    background-size: cover

@media (max-width: $screen-md)
  .video-frame
    background: 0
    padding: 0

@media (max-width: $screen-sm)
  .video-frame
    display: none

@media (max-width: 570px)

  img.space
    margin-bottom: 30px

