.video-frame
  padding: 57px 125px 57px 142px
  background-image: url(/images/ipad-frame.png)
  background-repeat: none
  background-size: 100%
  display: inline-block
  height: 680px
  margin: auto

.project-tile-wrap 
  +make-xs-column(6)
  +make-md-column(3)
  display: block
  +ease(border-color, .1s)

.project-tile 
  display: block
  margin-bottom: 30px 
  text-align: center 
  position: relative
  margin-bottom: 10%
  +opacity(0.93)
  +translate3d(0,0,0)
  +transition(.3s opacity)

  &:hover 
    cursor: pointer
    +opacity(1)
    .project-tile-overlay
      +opacity(0)
      h4,
      p
        +translate3d(0,0,0)

  .project-tile-overlay
    position: absolute 
    top: 0 
    left: 0 
    right: 0
    bottom: 0
    +opacity(1)
    +ease(all, .2s)
    background: rgba($white, 1)
    h4 
      margin: 40% 0 10px
      font-weight: 500
      font-size: 25px
    p 
      margin: 10px 0
    h4, p
      +translate3d(0,20px,0)
      +ease(-webkit-transform .2s)

  img
    max-width: 100%
    display: inline

.pagination 
  clear: both
  margin-top: 43px
  margin: 43px 10px 0 10px
  border-top: 1px solid $ltgray
  padding: 20px 0 0 0
  h3
    display: inline-block
    font-size: 17px
    color: #818181
    font-weight: 400
    letter-spacing: 0.5px
  .previous
    float: left
  .next
    float: right

.item
  text-align: center
  margin: auto
  padding-top: 50px
  font-size: 15px
  .item-info
    border-top: 1px solid #D6D6D6
    width: 100%
    padding: 30px 0 0 0 
  img
    margin: 0 auto 30px
    border: 1px solid $ltgray
    max-width: 100%
  
img.no-border
  box-shadow: none
  border: 0

img.extra-space
  margin-bottom: 130px

img.add-border
  border: 1px solid $ltgray

.dash
  display: block 
  width: 80px 
  border-top: 1px solid #ddd 
  margin: 3em 0

@media (max-width: $screen-xs-max)

  .projects.web
    padding: 20px 13px
  .container
    padding: 0 !important

@media (max-width: $screen-md)
  .video-frame
    background: 0
    padding: 0


@media (max-width: $screen-sm)
  .video-frame
    display: none
  .project-tile
    margin-bottom: 20%


@media (max-width: 840px)
  ul
    &.projects,
    &.web 
      li
        width: 45%
        min-height: 480px

@media (max-width: 570px)
  ul
    &.projects,
    &.projects.web 
      li 
        width: 100%
        margin: 0
        min-height: 0

  .item 
    padding: 20px 
    img
      width: 100% !important
      padding: 0 !important 
      margin: 0 0 20px !important