h1
  color: black
  margin: 16px 0px 16px
  font-size: 22px
  font-weight: 600
  text-align: left
  +font
  text-transform: uppercase
  letter-spacing: 1.5px
  line-height: 1.6em
  text-decoration: none
  &:hover 
    color: rgb(68, 67, 68)
    +transition(.3s color)

.item p.pull-left
  text-align: left

h2 a
  text-decoration: none
  color: rgb(29, 29, 29)
  letter-spacing: 1px
  font-weight: 400
  font-size: 25px
  font-family: adobe garamond pro, times, times new roman, serif
  font-style: italic
  float: left
  margin-bottom: 45px
  

h3
  color: rgb(116, 116, 116)
  +font
  line-height: 40px
  font-size: 30px
  text-align: center
  font-weight: 200
  margin-bottom: 10px

.projects.web
  h4
    color: $black
    +font
    border-bottom: 1px solid $ltgray
    font-size: 65px
    margin-top: 13px
    text-align: left
    font-weight: 300
    min-height: 60px
    line-height: 1.5em
    font-family: adobe garamond pro, times, times new roman, serif
    &.last
      border-bottom: 0px
    &:hover
      color: $mdgray
      +transition(.5s)

h5
  color: $black
  +font
  line-height: 1.5em
  font-size: 45px
  // font-weight: 200
  text-align: left
  padding: 100px 0 50px
  display: none

h6
  color: $black
  +font
  line-height: 40px
  font-size: 45px
  text-align: left
  padding: 40px 0 30px
  font-family: adobe garamond pro, times, times new roman, serif

.item p
  color: #464646
  font-family: adobe garamond pro, times, times new roman, serif
  font-size: 22px
  text-align: left
  margin: auto
  line-height: 1.6em
  text-decoration: none

.item p.list
  color: #818181
  font-style: italic
  font-size: 19px
  line-height: 1.9em
  a 
    color: #818181


a.email 
  background: $tan
  margin: auto 
  padding: 12px 52px 
  margin: 60px 0 0
  color: $white 
  text-transform: uppercase 
  text-align: center 
  font-weight: 500 
  letter-spacing: 2px 
  font-size: 12px
  display: inline-block
  text-decoration: none
  &:hover 
    background: darken($tan, 5%)
    color: $white

\::selection
  background: $ltgray
  color: $white



@media (max-width: $screen-sm)


  .projects.web
    h4
      font-size: 35px