p
  +font
  font-size: 18px
  line-height: 1.9em
  text-align: center
  margin: auto
  margin-bottom: 35px
  text-decoration: none
  max-width: 700px
  color: #858585
  a 
    color: black
    border-bottom: 1px dotted #ccc

h1
  +font
  color: $black
  font-size: 28px
  font-weight: 600
  letter-spacing: 2px
  line-height: 1.6em
  margin: 16px 0px 25px
  text-align: center
  text-decoration: none
  text-transform: uppercase

.info h2 a
  text-decoration: none
  color: #6d6d6d
  letter-spacing: .15em
  font-weight: 500
  font-size: 15px
  text-transform: uppercase
  margin: auto
  text-align: center
  display: block
  
h3
  color: rgb(116, 116, 116)
  +font
  line-height: 40px
  font-size: 30px
  text-align: center
  font-weight: 200
  margin-bottom: 10px

h4
  +font
  color: $black
  margin: 40px 0 80px
  font-size: 28px
  font-weight: 600
  text-align: center
  text-transform: uppercase
  letter-spacing: 2px
  line-height: 1.6em
  text-decoration: none
  
ul.tags li
  color: #ACACAC
  font-size: 14px
  font-weight: 600
  text-transform: uppercase
  line-height: 1.9em
  letter-spacing: .09em
  text-align: center
  &:last-child
    margin-bottom: 50px
  a 
    color: #818181
    border-bottom: none
    
.ul.social  
  li
    padding: 5px
    display: inline-block
    border: 2px solid #ddd
    border-radius: 50%
  span 
    text-align: center
    font-size: 25px
    padding: 15px
    width: 50px
    height: 50px

.project-tile-wrap
  a h1
    padding-top: 200px
    text-align: center
    font-size: 43px
    color: $white
    letter-spacing: .09em
    cursor: pointer
    &:hover
      +transition(.4s)

.about
  padding-top: 20px
  a 
    color: black
    border-bottom: 1px dotted #ccc
  p
    font-size: 22px
    color: #858585
    line-height: 1.9em
    +font
  h1 
    font-size: 28px
    letter-spacing: .08em
    color: #777777

.foot
  padding: 150px 0 100px
  h1
    font-size: 30px
    text-align: center
    text-transform: none
    letter-spacing: .02em
  p
    color: #8E8E8E
    text-transform: uppercase
    letter-spacing: .1em
    font-weight: 500
    font-size: 14px
    text-align: center
    margin: auto
    line-height: 2.2em

\::selection
  background: $ltgray
  color: $white

@media (max-width: $screen-sm)

.item h1
  font-size: 25px

@media (max-width: 670px)
  
  .about
    padding: 100px
  .about p
    font-size: 22px

@media (max-width: $screen-xs-max)

  .about
    padding: 0 30px
    p
      font-size: 17px
